@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: rem(320);
  min-height: rem(240);
  height: auto;
  border-radius: rem(40);
  background-color: $white-three;

  &.hasSelection {
    height: auto;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(16);
    width: 100%;
    height: 100%;
    padding: rem(20) !important;
    background-color: transparent;
    overflow-y: hidden;
    overflow-x: hidden;

    .option {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: $small !important;
      border-radius: rem(40);
      width: rem(280);
      background-color: $white-three;
      box-shadow: $shadow-three;
      flex-shrink: 0;
      height: rem(32);
      cursor: pointer;
      transition: background-color 0.2s ease;

      &.selected {
        background-color: $primary-hover;
        color: $white-one;
      }
      &.selected:hover {
        background-color: $primary-hover-two;
      }

      span {
        margin-left: rem(20);
      }
    }

    .option:hover {
      background-color: $white-one;
    }
  }
}
