@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.container {
  .masonryGrid {
    margin-top: rem(16);
    display: flex;
    justify-content: center;
    width: rem(1000);
    gap: rem(32);
  }
  .masonryColumn {
 
    width: rem(320) !important;

    background-clip: padding-box;
    // background-color: yellow;
  }

  .masonryColumn > div {
    width: fit-content;
    margin-bottom: rem(20);
    // background-color: pink;
  }
  .filterTitle {
    font-size: $tiny !important;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: rem(12);
    // padding: 0 rem(20);
    color: $danger;
  }
}
