@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: rem(1080);

    .title {
        color: $danger;
        font-size: $h4;
        font-weight: 500;
        margin-bottom: rem(20);
    }

    .subtitle {
        width: 40%;
        text-align: center;
        margin-bottom: rem(8);
    }
    .description {
        width: 40%;
         font-weight: 300;
        text-align: center;
        margin-bottom: rem(20);
    }
}