@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.adCarouselContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98vw;
  height: 98vh;
  border-radius: rem(40);
  cursor: url("/icons/X.png"), auto;

  .imagesContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .leftButtonContainer {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: auto;
      z-index: 5;
      margin-left: rem(24);
    }
    .rightButtonContainer {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: auto;
      z-index: 5;

      margin-right: rem(24);
    }
    .swiper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      .slideContainer {
        display: flex;
        justify-content: center;

        .slide {
          display: flex;
          justify-content: center;
          border-radius: rem(40);
          pointer-events: visible;
          width: 100vw;
          height: 100vh;
          .imageContainer {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            border-radius: rem(8) ;

            box-shadow: $shadow-one;
            overflow: hidden;

            .image {
              object-fit: cover;
              border-radius: rem(8);
            }
          }
        }
      }

      .navButton {
        background-color: $white-two !important;
        box-shadow: $shadow-one !important;
      }
    }
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    padding-right: rem(64);
    height: 20%;
    .button {
    }
  }
}
