@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: rem(800);

  .featureContainer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}
