@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: rem(800);

  .featureContainer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    
    .swiper {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .slideContainer {

        display: flex;
        
        width: 100%;
        .slide {
          display: flex;
          justify-content: center;
          height: 100%;
          width: 100%;
      
        }
      }
      .navButtons {
        position: absolute;
        bottom: rem(-0);
        right: 0;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: rem(16);
        margin-right: rem(320);
        margin-bottom: rem(48);
        z-index: 10;
      }
    }
  }
}
