@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: rem(1080);
  background-color: $white-four;


  .message {
    font-size: $h4;
    margin-bottom: rem(48);
  }
  .description {
    font-size: $body;
    margin-bottom: rem(48);
    color: $danger;
  }
  .buttonContainer {
    margin-bottom: rem(20);
  }
}
