@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: rem(40);
    .title {
      text-align: center;
      font-size: $h3;
      font-weight: 500;
      margin-bottom: rem(20);
    }

    .message {
      text-align: center;
      font-size: $body;
      margin-bottom: rem(20);
    }
  }

  .disclaimer {
    text-align: center;
    font-size: $tiny;
    width: 30%;
    margin-bottom: rem(48);
  }
  .button {
    margin-bottom: rem(20);
  }
}
