@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $white-four;
}
