@import "@/utils/variables.scss";
@import "@/utils/functions.scss";
@import "@/utils/breakpoints.scss";

.editMode {
  position: relative;
  width: rem(514);
  margin-bottom: rem(16);

  .editDetail {
    width: rem(514);
    height: rem(40);
    text-align: start;
    color: $black-one;
  }

  .editButton {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(40);
    height: rem(40);
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 10;

    cursor: pointer;
    box-shadow:
      10px 10px 20px 0px rgba(169, 196, 203, 0.5),
      5px 5px 10px 0px rgba(169, 196, 203, 0.25);
  }

  .cancelButton {
    left: rem(8);
    background-color: $white-one;
    .iconContainer {
    }
  }

  .submitButton {
    right: rem(8);
    background-color: $primary;
    .iconContainer {
      margin-top: rem(4);
    }
  }
}
