@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @include larger-than(mobile) {
    width: rem(1098);
  }

  .title {
    margin-top: rem(52);
    margin-bottom: rem(32);
    color: $danger;
    font-weight: 500;
    font-size: $h4;

    @include larger-than(mobile) {
      margin-top: rem(168);
      margin-bottom: rem(48);
    }
  }

  .mainSection {
    position: relative;
    margin-bottom: rem(20);

    .controls {
      margin-bottom: rem(20);
    }
    .priceContainer {
    }
  }
}
