@import "@/utils/variables.scss";
@import "@/utils/functions.scss";
@import "@/utils/breakpoints.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;


  @include larger-than(mobile) {
    width: rem(1098);
  }

  .title {
    margin-top: rem(52);
    margin-bottom: rem(32);
    color: $danger;
    font-weight: 600;
    font-size: rem(20);

    @include larger-than(mobile) {
  
      margin-top: rem(168);
      margin-bottom: rem(48);
    }
  }

  .mainSection {
    position: relative;
    margin-bottom: rem(20);

    .controls {
      margin-bottom: rem(20);
    
    }
    .priceContainer {

    }
  }


  
}
