@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include larger-than(mobile) {
    width: rem(1098);
  }

  .reviewSectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: rem(64);
    .descriptionContainer {
      margin-bottom: rem(64);

      .description {
        text-align: center;
        padding: 0 rem(120);
        margin-bottom: rem(16);
      }
    }

    .reviewSection {
      .section {
        margin-bottom: rem(64);
      }
    }
  }

  .confirmation {
    text-align: center;
    padding: 0 rem(120);
    margin-bottom: rem(64);
    .link {
      text-decoration: underline;
    }
  }
}
