@import "@/utils/variables.scss";
@import "@/utils/functions.scss";
@import "@/utils/breakpoints.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include larger-than(mobile) {
    width: rem(1098);
  }

  .reviewSectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

    .description {
      text-align: center;
      padding: 0 rem(120);
      margin-bottom: rem(64);
    }

    .reviewSection {
      .section {
        margin-bottom: rem(64);
      }
    }
  }

  .confirmation {
    text-align: center;
    padding: 0 rem(120);
    margin-bottom: rem(64);
    .link {
      text-decoration: underline;
    }
  }
}
