@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: rem(360);

  .titleContainer {
    display: flex;
    justify-content: center;
    margin-top: rem(240);
    margin-bottom: rem(48);
    width: 100%;
    .title {
      color: $danger;
      font-size: $h4;
      font-weight: 500;
    }
  }
  .subcategoriesTitleContainer {
    display: flex;
    justify-content: center;
    margin-bottom: rem(48);
    width: 100%;
    .title {
      color: $danger;
      font-size: $h4;
      font-weight: 500;
    }
  }

  @include larger-than(mobile) {
    width: rem(1098);
  }
  @include larger-than(desktop) {
    width: rem(1098);
  }

  .mobileSubcategoriesContainer {
    margin-bottom: rem(20);

    .mobileSubcategories {
      background-color: $grey-one;
    }
  }

  .wrapper {
    margin-right: rem(96);
    width: 100%;

    .swipper {
      width: rem(1440);
      margin-left: rem(48);
    }
  }

  .subcategories {
    height: auto;
    padding-bottom: rem(16);
  }
  .navButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: rem(1098);
    padding-right: rem(72);
    margin-bottom: rem(16);
  }
}
