@import "@/utils/variables.scss";
@import "@/utils/functions.scss";
@import "@/utils/breakpoints.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: rem(360);

  @include larger-than(mobile) {
    width: rem(1098);
  }
  @include larger-than(desktop) {
    width: rem(1098);
  }

  .mobileSubcategoriesContainer {
    margin-bottom: rem(20);

    .mobileSubcategories {
      background-color: $grey-one;
    }
  }

  .wrapper {
    margin-right: rem(96);

    .swipper {
      width: rem(1440);
      margin-left: rem(48);

      .navButtons {
        margin-top: rem(16);
      }
    }
  }
}
