@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include larger-than(mobile) {
    width: rem(1098);
  }

  .uploadBox {
    margin-bottom: rem(64);
  }

  .uploadedPhotos {
    padding: 0 rem(100);
    width: 100%;
  }

  .buttonContainer {
    margin-bottom: rem(16);
  }
}
