@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include larger-than(mobile) {
    width: rem(1098);
  }

  .title {
    margin-top: rem(52);
    margin-bottom: rem(32);
    color: $danger;
    font-weight: 500;
    font-size: $h4;

    @include larger-than(mobile) {
      margin-top: rem(224);
      margin-bottom: rem(48);
    }
  }

  .uploadedPhotos {
    padding: 0 rem(100);
    width: 114%;
  }
  .uploadedVideosContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: rem(48);
    margin-bottom: rem(64);
    row-gap: rem(20);
    .uploadedVideo {
    }
  }

  .uploadedAttachmentsContainer {
    width: rem(920);
    margin-top: rem(48);
    margin-bottom: rem(64);
  }

  .mediaType {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(48);
  }

  .buttons {
    margin-top: rem(48);
  }
  .buttonContainer {
  }

  .photosButtonContainer {
    margin-bottom: rem(20);
  }
  .videosButtonContainer {
    margin-bottom: rem(20);
  }
  .videoUrlsContainer {
    margin-bottom: rem(20);
  }
  .attachmentsButtonContainer {
    margin-bottom: rem(20);
  }
}
