@import "@/utils/variables.scss";
@import "@/utils/functions.scss";
@import "@/utils/breakpoints.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  @include larger-than(mobile) {
    width: rem(1098);
  }


  .title {
    margin-bottom: rem(48);
    color: $danger;
    font-weight: bold;
  }

  .uploadBox {
    margin-bottom: rem(64);
  }

  .uploadedPhotos {

    padding: 0 rem(100);
    width: 100%;
  }

  .buttonContainer {
    margin-bottom: rem(16);
  }
}
