@import "@/utils/variables.scss";
@import "@/utils/functions.scss";
@import "@/utils/breakpoints.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include larger-than(mobile) {
    width: rem(1098);
  }

  .title {
    margin-top: rem(52);
    margin-bottom: rem(32);
    color: $danger;
    font-weight: 600;
    font-size: rem(20);

    @include larger-than(mobile) {

      margin-top: rem(224);
      margin-bottom: rem(48);
    }
  }
  .mediaType {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(48);
  }

  .buttons {
    margin-top: rem(48);
  }
  .buttonContainer {
    margin-bottom: rem(20);
  }
}
