@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 93vh;
  border-radius: rem(150) rem(150) rem(150) rem(150);
  background-color: $primary;
  background-color: #c9e5e8;
  background-color: $danger;
  background-color: $warning;

  .logo {
    margin-top: rem(104);
    margin-bottom: rem(48);
  }
  .buttonsAndSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: rem(48);

    .buttons {
      display: flex;
      flex-direction: column;
      margin-bottom: rem(64);

      .link {
      }

      .createYourShopBtn {
        margin-bottom: rem(20);
        background-color: $danger-hover;
        color: $white-one;
      }

      .CreateAListingBtn:hover {
        background-color: #f83710;
      }

      .categoriesBtn {
        background-color: $white-two;
        box-shadow: none;
      }

      .categoriesBtn:hover {
        background-color: $white-one;
      }
    }

    .searchFields {
      margin-bottom: rem(30);
      .searchTerm {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: rem(20);

        .searchTermInput {
        }
      }
      .searchLocation {
        display: flex;
        flex-direction: column;
        align-items: center;

        .searchLocationInput {
          // margin-bottom: rem(10);
        }
      }

      .errorMessage {
        color: $danger;
        margin-bottom: rem(8);
      }
    }
    .searchButton {
      .search {
        background-color: $white-two;
        box-shadow: none;
      }

      .search:hover {
        background-color: $white-one;
      }
    }
  }
}
