@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.container {

  .profile {
    width: rem(34);
    height: rem(34);
    cursor: pointer;
    box-shadow: $shadow-four;
  }
}
