@import "./utils/variables.scss";
@import "./utils/functions.scss";
@import "./utils/breakpoints.scss";

.container {
  width: rem(40);
  height: rem(40);
  border-radius: 50%;
  background-size: cover;
  .profile {
    .profileImage {
      // border-radius: 50%;
    }
  }
}
