.container {
  position: relative;
  background-color: #f3f4f6;
  display: flex;
  flex-direction: column;
}

.mainContent {
  display: flex;
  flex-direction: column;
}

.section {
  height: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4rem;
  font-weight: 500;
}

.red {
  background-color: #ef4444;
  width: 100vw;
}

.blue {
  display: flex;
  background-color: #3b82f6;
  width: 70vw;
  height: 50vh;
 align-self: flex-end;
}

.green {
  background-color: #22c55e;
  width: 100vw;
}
.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 500;
  position: relative;
  top: -500;
  width: 20vw;
  height: 20vh;
 font-size: 4rem;
  background-color: #eab308; // Yellow-500 equivalent
}

.sidebarInner {
 
  height: 12rem;
  border-radius: 0.5rem;

  // font-size: 1.25rem;
  
}
