@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
min-height: 100vh;
margin-bottom: rem(240);
  @include larger-than(mobile) {
    width: 100%;
  }

  .form {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    min-height: 100vh;

    .buttons {
      display: flex;
      flex-direction: column;
      margin-bottom: rem(120);

      .proceedButton {
        margin-bottom: rem(20);
      }
    }
  }

  .progressBar {
    position: fixed;
    bottom: 0;
    z-index: 5;
  }
}
