@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(1098);
  min-height: 100vh;
}
