@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.postMetrics {
  width: rem(180);
  height: rem(24);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $black-four;
  font-size: $tiny;

  .likes {
    display: flex;
    margin-left: rem(16);
    .icon {
      margin-right: rem(4);
      margin-top: rem(-1);
    }
  }
  .views {
    display: flex;
    .icon {
      margin-right: rem(4);
      margin-top: rem(-1);
    }
  }

  .postAge {
    font-size: $tiny;
    .duration {
      margin-left: rem(8);
      margin-right: rem(8);
    }
  }
}
