@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  width: 70%;
  margin-top: rem(48);

  .countDown {
    margin-bottom: rem(20);
    .countDownPeriod {
      font-size: $small;
      margin-right: rem(16);
    }
  }
  .title {
    margin-bottom: rem(20);
    line-height: normal;
    font-size: $body;
    font-weight: 500;
    text-transform: uppercase;
  }
  .priceSection {
    font-size: $tiny;
    text-transform: uppercase;
    margin-bottom: rem(20);

    .currentPrice {
      margin-bottom: rem(20);
      span {
        font-weight: 500;
        font-size: $h4;
      }
    }
    .buyNow {
      span {
        font-size: $small;
      }
    }
  }
  .description {
  }
}
