@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .toastContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    .toastWrapper {
      width: 100%;
    }
  }

  .resultsText {
    font-size: $small;
    text-align: center;
    span {
      font-size: $body;
      font-weight: 500;
      text-transform: capitalize;
    }
  }

  .formContainer {
    margin-top: rem(80);
  }
}
