@import "@/utils/variables.scss";
@import "@/utils/functions.scss";
@import "@/utils/breakpoints.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .title {
    font-size: $h4;
    color: $danger;
    font-weight: bold;
    margin-bottom: rem(48);
  }

  .selectCategory {
    margin-bottom: rem(16);
  }

  .customItemContainer {
    margin-bottom: rem(16);
  }

  .customCategoryContainer {
    margin-bottom: rem(64);
  }

  .proceedButtonContainer {
    margin-bottom: rem(16);
  }
}
