@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: rem(1552);


  .topSection {
    width: 100%;
    margin-top: rem(64);
    margin-bottom: rem(48);
    // height: 100vh;

    .topPrice {
      margin-bottom: rem(8);

      .price {
        font-size: $h3;
        font-weight: 600;
      }
    }

    .topTitle {
      font-size: $h4;
      text-transform: uppercase;
      line-height: normal;
      width: 40%;
      margin-bottom: rem(12);
    }

    .profileContainer {
      display: flex;
      align-items: center;
      gap: rem(12);
      .profileDetails {
        font-size: rem(12);
      }
    }
  }

  .listingContainer {
    display: flex;
    flex-direction: column;
    width: 100%;

    .listingImagesContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      // margin-bottom: rem(96);
      height: 100vh;
      // background-color: pink;
    }

    .listingDetails {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      // background-color: red;

      .mainSectionContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        // width: rem(1187);
        width: 100%;
        // margin-left: rem(364);
        // background-color: navy;

        .sellerDetails {
          // position: relative;
          // top: 50%;
          // transform: translateY(-50%);
          // left: rem(184);
          // z-index: 1;
        }
        .details {
          display: flex;
          flex-direction: column;
          align-items: center;
         width: 100%;
          padding: 0 rem(96);
          // background-color: antiquewhite;

          .title {
            margin-bottom: rem(56);
            text-align: center;
            line-height: normal;
            font-size: $h4;
          }

          .priceSection {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: rem(56);
          }
          .buttonsContainer {
            display: flex;
            display: flex;
            flex-direction: column;
            margin-bottom: rem(56);
          }

          .description {
            margin-bottom: rem(56);
            width: 75%;
            p {
              text-align: center;
              font-size: $h4;
            }
          }
        }
      }

      .detailsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        min-height: rem(200);
        margin-left: rem(364);

        .title {
          color: $danger;
          font-weight: 600;
          margin-top: rem(64);
          margin-bottom: rem(24);
        }
        .infoItems {
          max-width: 72%;
          margin: 0 auto rem(96);
          column-count: 2;
          column-gap: rem(48);
          padding-top: rem(48);

          .infoItem {
            display: flex;
            align-items: flex-start;
            margin-bottom: rem(16);

            .bulletContainer {
              .bullet {
                position: relative;
                width: rem(24);
                height: rem(12);
                border: rem(1) solid $grey-four;
                border-radius: rem(6);
                margin-right: rem(20);
                margin-top: rem(8);
                break-after: always;
                box-shadow: 2px 2px 3px rgb(177, 189, 189);
              }
            }
            .infoItemContainer {
              p {
                font-size: $h4;
              }
            }
          }
        }
      }

      .similarListingsContainer {
        background-color: red;
      }
    }

    .allImagesContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: rem(72);
      margin-bottom: rem(128);

      .imageContainer {
        // max-width: rem(1296);
        height: rem(800);
        position: relative;

        border-radius: rem(40);
        margin-bottom: rem(64);

        .image {
          margin-bottom: rem(16);
        }
      }
    }
  }
}
