@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    .title {
        margin-bottom: rem(48);
        color: $danger;
        font-weight: 500;
        font-size: $h4;
    }

    .individualAccount {
        margin-bottom: rem(20);
    }

    .BusinessAccount {
        margin-bottom: rem(20);
    }
}