@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @include only(largeDesktop) {
  }

  @include only(smallDesktop) {
  }

  @include only(tablet) {
  }

  .title {
    margin-top: rem(200) !important;
    margin-bottom: rem(48);
    color: $danger;
    font-weight: 500;
    font-size: $h4;
  }

  .mainSection {
    position: relative;
    margin-bottom: rem(20);
    height: 100%;

    .controls {
      margin-bottom: rem(20);
    }
    .priceContainer {
    }

    .startTimeContainer {
      height: fit-content;

      .startTime {
      }
    }
  }
}
