@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.bankNameContainer {
  
  margin-bottom: rem(32) !important;
}

.accountHolderContainer {
  margin-bottom: rem(32) !important;
}

.accountNumberContainer {
  margin-bottom: rem(16) !important;
}
