@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
@use "@/utils/mixins" as *;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @include only(largeDesktop) {
  }
  @include only(smallDesktop) {
  }
  @include only(tablet) {
    }
  .title {
    @include title;
  }

  .description {
    @include description;
  }

  .selects {
    // margin-bottom: rem(48);

    .select {
      margin-bottom: rem(20);
    }
  }




}
