@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
@use "@/utils/mixins" as *;
.container {
  // position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include only(largeDesktop) {
    width: rem(1098);
  }

  @include only(largeDesktop) {
    width: rem(960);
  }

  @include only(largeDesktop) {
    width: rem(960);
  }

  .title {
    @include title;
  }

  .description {
    @include description;
  }
  .reviewSectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 108%;
    padding: rem(48) rem(64);
    border-radius: rem(40);
    margin-bottom: rem(64);
    background: $white-six;
    .descriptionContainer {
      margin-bottom: rem(64);

      .description {
        text-align: center;
        padding: 0 rem(120);
        margin-bottom: rem(16);
      }
    }

    .reviewSection {
      .section {
        margin-bottom: rem(64);
      }
    }
  }

  .confirmation {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: rem(180);
    padding-top: rem(32);
    padding-bottom: rem(20);
    z-index: 50;
    text-align: center;
    background: $white-four;
    width: rem(1080);

    p {
      width: rem(640);
    }
    .link {
      text-decoration: underline;
    }
  }
}
