@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: rem(40) rem(20);
  width: 100%;
  min-height: 100vh;

  .title {
    color: $danger;
    font-size: $h4;
    font-weight: 600;
    margin-top: rem(80);
    margin-bottom: rem(40);
  }

  .swiperContainer {
    width: 100%;
    display: flex;
    flex-direction: column;

    .sitesContainer {
      margin: 0 rem(32);
      display: flex;
      flex-direction: column;
      overflow: auto;
      width: 112%;
      overflow-x: hidden;

      .swiperSlide {
        width: fit-content;
      }
    }
    .navButtons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: rem(16);
      margin-top: rem(16);
      margin-bottom: rem(16);
      @include only(largeDesktop) {
        margin-right: rem(200);
      }
      @include only(smallDesktop) {
        margin-right: rem(300);
      }
      @include only(tablet) {
      }

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
