@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: rem(311);
  height: 100vh;
  @include only(largeDesktop) {
    width: rem(1098);
  }
  @include only(smallDesktop) {
    width: rem(960);
  }
  @include only(tablet) {
    width: rem(1098);
  }

  .formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include only(largeDesktop) {
    }
    @include only(smallDesktop) {
    }
    @include only(tablet) {
    }

    .title {
      color: $danger;
      font-size: $h4;
      margin-top: rem(64);
      margin-bottom: rem(64);
      font-weight: 600;
    }

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: fit-content;
      margin-bottom: rem(64);
    }

    .buttonsContainer {
      position: fixed;
      bottom: 0;
      @include only(largeDesktop) {
        width: rem(1098 * 0.95);
      }
      @include only(smallDesktop) {
        width: rem(960 * 0.95);
      }
      @include only(tablet) {
        width: rem(960 * 0.95);
      }

      .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: rem(20);
        padding-bottom: rem(48);
        background-color: $white-four;
        .proceedButton {
          margin-bottom: rem(20);
        }
      }
    }
  }
}
