@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.subcategories {
  height: auto;
  padding-bottom: rem(16);
  display: none;

  @include only(largeDesktop) {
    display: block;
  }
  @include only(smallDesktop) {
    display: block;
  }
  @include only(tablet) {
    display: block;
  }

  .subcategoriesWrapper {
    .swipper {
      padding-top: rem(8);
      padding-left: rem(8);
      display: none;
      background-color: #d0d3d615;
      border-radius: rem(40);
      padding-right: rem(48);
      width: 120%;
      @include only(largeDesktop) {
        display: block;
      }
      @include only(smallDesktop) {
        display: block;
      }
      @include only(tablet) {
        display: block;
      }

      .subcategorySlide {
        display: flex;
        flex-direction: column;
        height: auto;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-bottom: rem(16);
        .subcategoryList {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: column;
          gap: rem(16);

          .subcategory {
            cursor: pointer;
            width: fit-content;

            .subcategoryLink {
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              width: rem(200);
              height: rem(56);
              border-radius: rem(40);
              background-color: $white-three;
              padding: 0 rem(32);
              margin: rem(2) 0;
              word-wrap: break-word;
              overflow-wrap: break-word;
              white-space: normal;
              font-size: rem(14);
              @include only(largeDesktop) {
                width: rem(256);
                padding: 0 rem(32);
              }
              @include only(smallDesktop) {
                width: rem(212);
                padding: 0 rem(16);
                line-height: 1.3;
              }
              @include only(tablet) {
                  width: rem(212);
                padding: 0 rem(16);
                line-height: 1.3;
              }
            }

            .subcategoryLink:hover {
              cursor: pointer;
              background-color: $white-one;
            }
          }
        }
      }

      .navButtons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: rem(48);
        margin-bottom: rem(16);
        width: rem(160);
        @include only(largeDesktop) {
          margin-left: rem(906);
        }
        @include only(smallDesktop) {
        }
        @include only(tablet) {
        }
      }
    }
  }
}
