@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  height: 100vh;

  width: 100%;
  @include only(largeDesktop) {
    // width: rem(1098);
  }
  @include only(smallDesktop) {
    // width: rem(960);
  }
  @include only(tablet) {
    width: rem(960);
  }

  .wrapper {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    
    .title {
      font-size: $h4;
      font-weight: 600;

      color: $danger;
      margin: 0 auto;
    }
  }
}
