@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include only(largeDesktop) {
    width: rem(1098);
  }

  .title {
    margin-top: rem(52);
    margin-bottom: rem(32);
    color: $danger;
    font-weight: 500;
    font-size: $h4;

    @include only(largeDesktop) {
      margin-top: rem(224);
      margin-bottom: rem(48);
    }
  }
  .mediaType {
    display: flex;
    flex-direction: column;
  }

  .buttons {
    margin-top: rem(48);
  }
  .buttonContainer {
    margin-bottom: rem(20);
  }
}
