@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
@use "@/utils/mixins" as *;
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
width: 100%;
  @include only(largeDesktop) {
    // width: rem(1098);
  }
  @include only(smallDesktop) {
    // width: rem(1098);
  }
  @include only(tablet) {
    // width: rem(1098);
  }

  .title {
    @include title;
  }

  .uploadedPhotos {
    padding: 0 rem(100);
    width: 114%;
  }

  .mediaSection {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(48);
  }

  .buttons {
    margin-top: rem(48);
  }

  .photosButtonContainer {
    margin-bottom: rem(20);
  }
  .videosButtonContainer {
    margin-bottom: rem(20);
  }
  .videoUrlsContainer {
    margin-bottom: rem(20);
  }
  .attachmentsButtonContainer {
    margin-bottom: rem(20);
  }
}
