@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .title {
   font-size: $h4;
      font-weight: 500;
      color: $danger;
      margin-top: rem(320);
      margin-bottom: rem(48);;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: rem(64);

    .buttonContainer {
      margin-bottom: rem(16);
    }
  }
}
