@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include only(largeDesktop) {
  }
  @include only(smallDesktop) {
  }
  @include only(tablet) {
  }

  .dropzone {
 position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: rem(420);
    height: rem(360);
    border-radius: rem(60);
    background: $white-two;
    box-shadow: $shadow-one;

    &.hasVideos {
      margin-bottom: rem(148);
      box-shadow: none;
      max-width: rem(1060);
      width: 100%;
      height: auto;
      background: $white-four;
    }

      .text {
      margin: auto;
      font-size: $small;
      text-transform: uppercase;
    }

    @include only(largeDesktop) {
    }
    @include only(smallDesktop) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: unset;
      gap: rem(32);
    }
    @include only(tablet) {
    }

    .uploadedVideo {
    }
  }

  .buttonContainer {
    position: sticky;
    bottom: rem(200);
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: rem(20);

    .uploadButton {
      background: $primary-hover;
      color: white;
      font-size: $tiny;
        text-transform: uppercase;
    }
  }
}
