@import "@/utils/variables.scss";
@import "@/utils/functions.scss";
@import "@/utils/breakpoints.scss";

.boxCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  // width: rem(310);
  // min-height: rem(248);
  border-radius: rem(32);
  background: $grey-one;
  cursor: pointer;
  box-shadow: $shadow-six;
  margin-top: rem(-8);

  .imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: rem(32);
    // width: rem(310);
    // min-height: rem(248);

    .image {
      border-radius: rem(32);
      display: flex;
      justify-content: center;
      align-items: center;
      // object-fit: contain;
    }
  }

  .details {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: rem(0);
    font-size: rem(13);
    letter-spacing: rem(1.1);
    line-height: 2 !important;
    text-transform: uppercase;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), transparent);
    color: rgb(233, 252, 255);
    width: 100%;
    height: rem(96);
    z-index: 1;
    border-radius: rem(4) rem(4) rem(32) rem(32);
    padding: 0 rem(8) rem(8) rem(8);
    // background-color: white;

    .titleDescription {
      width: 80%;
      margin-top: auto;
      padding-bottom: rem(16);
      .title {
        padding: rem(8) rem(0) rem(4) rem(20);
        line-height: 1.2;
        
      }
    }
    .price {
      margin: auto;
      padding: rem(16);
      text-align: center;
    }
  }

  .imageContainerHovered {
    box-sizing: $shadow-one;
    transform: scale(1.04);

    .image {
      margin-bottom: rem(8);
    }
  }

  .detailsHovered {
    position: static;
    display: block;
    background: $grey-one;
    // background: $white-two;
    color: $black-four;

    height: 100%;
    margin-bottom: rem(8);

    .titleDescription {
      width: 100%;

      .title {
        padding: rem(16) rem(20) rem(4);
        font-size: rem(16);
        margin-bottom: rem(8);
        line-height: 1.5;
        font-weight: bold;
        text-align: center;
      }
      .description {
        padding: rem(4) rem(20) rem(0) rem(20);
        font-size: rem(16);
        text-transform: none;
        text-align: center;
      }
    }
    .price {
      margin-bottom: rem(16);
      font-size: $h2;
    }
  }
}
-------------------------------------------------------------------------
  .large {
  // width: rem(306);
  // height: rem(338);
}

.standard {
  width: rem(310);
  min-height: rem(248);
}

.small {
}

.largeFeed {
}
.standardFeed {
  width: rem(310);
  min-height: rem(248);
}

.smallFeed {
}

.largeDashboard {
  @include larger-than(mobile) {
  }
}
.standardDashboard {
  @include larger-than(mobile) {
    width: rem(310);
    min-height: rem(248);
  }
}
.smallDashboard {
}

/*//////////////////////////////////////////////////////////////////////////////*/

.expandedCard {
  display: flex;
  justify-content: center;
  height: fit-content;
  cursor: pointer;

  .expandedCardWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: rem(918);
    height: rem(272);
    border-radius: rem(32);
    background-color: $white-two;
    box-shadow: $shadow-one;

    .centerImageWrapper {
      display: flex;
      justify-content: center;
      width: rem(348);
      height: rem(304);

      .imageContainer {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: rem(32);
        .image {
          border-radius: rem(32);
          box-shadow: $shadow-three;
        }

        .likeIconContainer {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: rem(72);
          height: rem(72);
          border-radius: 50%;

          .likeIcon {
          }
          .likeIconHover {
            transition: all 1.3s ease;
          }
        }
        .postMetrics {
          position: absolute;
          width: 100%;
          bottom: 0;
          display: flex;
          justify-content: space-around;
          color: white;
          z-index: 1;
        }
      }
    }

   

    .details {
      display: flex;
      flex-direction: column;
      width: rem(570);
      height: rem(250);
      border-radius: 0 rem(32) rem(32) 0;

      .checkboxContainer {
        align-self: flex-end;
        margin-right: rem(24);
        margin-top: rem(8);
        margin-bottom: rem(-16);
      }

      .detailsWrapper {
        display: flex;
        margin: rem(24) rem(24) rem(16) rem(16);
        width: rem(530);
        height: 100%;

        .avatar {
          margin-right: rem(16);
        }

        .detailsText {
          display: flex;
          flex-direction: column;
          .titleWrapper {
            margin-top: rem(-6);
            .title {
              margin-bottom: rem(-4);
            }

            .location {
              display: flex;
              align-items: center;

              .locationText {
                padding-bottom: rem(1);
                font-size: rem(14);
              }
            }
          }

          .descriptionContainer {
            display: flex;
            align-items: center;
            height: 100%;
            .description {
              width: rem(463);
              overflow: hidden;
              margin-top: rem(8);
              padding-bottom: rem(8);
              align-self: center;
            }
          }
          .cardBottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: auto;
            width: 100%;
            height: rem(24);

            .price {
            }

            .postMetrics {
              .postAge {
                // margin-bottom: rem(-4);
                margin-right: rem(32);
                font-size: rem(14);
              }

              .viewCount {
              }
            }
          }
        }
      }
    }

    // .cardContainer:hover .image,
    // .cardContainer:hover {
    //   background-color: #bdecfc;
    // }
  }

  .large {
    // width: rem(306);
    // height: rem(338);
  }

  .standard {
    width: rem(918);
    height: rem(250);
  }

  .small {
  }

  .largeFeed {
  }
  .standardFeed {
    width: rem(918);
    height: rem(250);
  }

  .smallFeed {
  }

  .largeDashboard {
    @include larger-than(mobile) {
    }
  }
  .standardDashboard {
    @include larger-than(mobile) {
      width: rem(918);
      height: rem(250);
    }
  }
  .smallDashboard {
  }
}
