@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.articleSection {
  position: relative;
  width: 100%;

  .swiper {
    
    margin-left: rem(48);
    width: 100vw;
    
    .article {
      height: auto;
      width: fit-content !important;
      scroll-snap-align: start;
      transition: transform 0.3s ease-in-out;
    }

    .navButtons {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: rem(16);
      margin-right: rem(48);
      margin-bottom: rem(16);

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
