@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.wrapper::-webkit-scrollbar {
  width: rem(8);
}

.wrapper::-webkit-scrollbar-track {
  margin-block: rem(80);
  background: transparent;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: $warning-hover;
  min-height: rem(56);
  border-radius: rem(4);
  margin-right: rem(4);
}

.wrapper::-webkit-scrollbar-thumb:hover {
  background-color: $warning-hover;
}

.wrapper::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: rem(40);
    gap: rem(20);
    width: rem(975);
    height: rem(420);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 rem(50);
    margin-bottom: rem(48);

    .attachmentContainer {
      display: flex;
      background-color: $white-three;
      justify-content: space-between;
      align-items: center;
      width: rem(700);
      padding: rem(8);
      border-radius: rem(50);
      cursor: pointer;

      .iconContainer {
        width: rem(75);
        height: rem(60);
        margin-left: rem(8);

        border-radius: 50%;
        background-color: $grey-one;
      }

      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 54%;
        height: inherit;
        margin-left: rem(48);

        .title {
          font-size: $h4;
        }
      }

      .publishButtonContainer {
        display: flex;
        align-items: center;
        margin-left: rem(48);
        margin-right: rem(64);

        .publishButton {
        }

        .publishButtonText {
          margin-left: rem(8);
        }
      }

      .deleteButton {
        background-color: $white-four;
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(24);
        height: rem(24);
        border-radius: 50%;
        margin-right: rem(32);
      }
    }
  }
}
