@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .dropzone {
   position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: rem(420);
    height: rem(360);
    border-radius: rem(60);
    background: $white-two;
    box-shadow: $shadow-one;

      .text {
      margin: auto;
      font-size: $small;
      text-transform: uppercase;
    }

       &.hasAttachments {
      margin-bottom: rem(148);
      box-shadow: none;
      max-width: rem(1060);
      width: 100%;
      height: auto;
      background: $white-four;
    }

  }
   .buttonContainer {
    position: sticky;
    bottom: rem(200);
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: rem(20);

    .uploadButton {
      padding: 0 rem(24);
      background: $primary-hover;
      color: white;
      font-size: rem(12);
      line-height: 150%;
      text-transform: uppercase;
    }
  }
}
