@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.blogSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;

  .titleContainer {
    .title {
      margin-bottom: rem(56);
      font-weight: 600;
      font-size: $h2 !important;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    margin-top: rem(56);

    .moreArticlesBtn {
      margin-bottom: rem(20);
    }
  }
}
