@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.details {
  display: flex;
  align-items: center;
  position: relative;
  font-size: rem(13);
  letter-spacing: rem(1.1);
  line-height: 1.5 !important;
  background-color: $grey-one;
  color: $black-three;
  width: rem(310);
  min-height: rem(96);
  z-index: 1;
  border-radius: rem(0) rem(0) rem(40) rem(40);
  padding: 0 rem(8) rem(8) rem(8);

  .titleAndDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;

    .title {
      padding: rem(8) rem(0) rem(4) rem(20);
      line-height: 1.2;
      text-transform: uppercase;
    }
  }

  .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: rem(16);
    text-align: center;
    font-size: $h4 !important;
    font-weight: 600;
    margin-top: rem(-12);
  }

  .titleAndPrice {  
    display: flex;
    justify-content: space-between;
    align-items: center !important;
    width: 100%;
    padding: 0 rem(20);
    margin-top: rem(16);

    .title {
      text-transform: uppercase;
      width: 75%;
      font-size: rem(16);
    }

    .price {
      width: fit-content;
      height: fit-content;
      padding: unset;
    }
  }

  .locationContainer {
    display: flex;
    gap: rem(8);
    width: 100%;
    padding: 0 rem(20);
    font-size: rem(12);
    margin-bottom: rem(4);
  }

  .featuresWithIcons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem(20);
    margin-top: auto;
    margin-bottom: rem(24);

    .feature {
      display: flex;
      gap: rem(8);

      p {
        font-size: rem(12);
      }

      .featureValue {
        margin-right: rem(3.2);
      }
    }
  }


  &.vehicles,
  &.property {
    flex-direction: column;
    height: rem(160);
    width: rem(387);
  }

  .vehicleSpecs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // gap: rem(32);
    font-size: rem(12);
    padding: 0 rem(28);
    // text-transform: uppercase;
    margin-top: rem(40);
    
  }
  
}

.detailsHovered {
  position: relative;
  display: block;
  color: $black-four;
  background: $grey-one;
  height: auto;
  transform-origin: top;

  .titleAndDescription {
    width: 100%;
    margin-bottom: rem(-12);

    .title {
      padding: rem(32) rem(20) rem(4);
      font-size: rem(16);
      margin-bottom: rem(8);
      line-height: 1.5;
      font-weight: 600;
      text-align: center;
    }

    .description {
      padding: rem(3) rem(20) rem(12) rem(20);
      font-size: rem(16);
      text-transform: none;
      text-align: center;
    }
  }

  .price {
    font-size: $h2;
    padding-bottom: rem(36) !important;
  }
}
