@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.boxCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius: rem(40);
  width: rem(310);
  background: $grey-one;
  cursor: pointer;
  box-shadow: $shadow-six;
  margin-top: rem(-8);
}
