@use "@/utils/variables" as *;
@use "@/utils/functions" as *;

.breadcrumbs {
  color: $grey-two;
  width: fit-content;
  font-size: $tiny;

  li {
    display: inline;

    .breadcrumb {
      text-decoration: none;
    }

    .breadcrumb:hover {
      color: $danger-hover;
    }
  }

  .lastBreadcrumb {
  }

  .searchResult {
    font-weight: 500;
    color: $black-four;
  }
}
