@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.button {
  background-color: $normal;
  border: none;
  // color: $black-four;
  color: #67787c;
  border-radius: rem(35);
  outline: none;
  box-shadow: $shadow-one;
  cursor: pointer;
}

.xLarge {
  width: rem(954);
  height: rem(56);
}

.xLargeFeed {
  width: rem(793);
  height: rem(56);
}

.large {
  width: rem(311);
  height: rem(56);

  @include larger-than(mobile) {
    width: rem(514);
    height: rem(56);
  }
}

.largeFeed {
  width: rem(471);
  height: rem(56);
}

.medium {
  width: rem(202);
  height: rem(56);
  @include larger-than(mobile) {
    width: rem(424);
    height: rem(56);
  }
}

.mediumFeed {
  width: rem(310);
  height: rem(48);
}

.small {
  width: rem(98);
  height: rem(56);

  @include larger-than(mobile) {
    width: rem(206);
    height: rem(56);
  }
}

.smallFeed {
  width: rem(149);
  height: rem(48);
}

.tiny {
  width: rem(45);
  height: rem(32);

  @include larger-than(mobile) {
    width: rem(97);
    height: rem(56);
  }
}

.tinyFeed {
  width: rem(69);
  height: rem(48);
}

.xxLargeDashboard {
  @include larger-than(mobile) {
    width: rem(1002);
    height: rem(56);
  }
}

.xLargeDashboard {
  @include larger-than(mobile) {
  }
}

.largeDashboard {
  width: rem(267);
  height: rem(56);
  @include larger-than(mobile) {
    width: rem(471);
  }
}

.mediumDashboard {
  width: rem(240);
  height: rem(48);
  @include larger-than(mobile) {
    width: rem(326);
    height: rem(56);
  }
}

.smallDashboard {
  width: rem(149);
  height: rem(48);
}

.tinyDashboard {
  width: rem(69);
  height: rem(48);
}

.round {
  border-radius: 50%;
  background-color: $white-one;
}

.roundLarge {
  width: rem(32);
  height: rem(32);

  @include larger-than(mobile) {
    width: rem(48);
    height: rem(48);
  }
}
.roundLargeFeed {
  width: rem(40);
  height: rem(40);
}

.roundStandard {
  width: rem(36);
  height: rem(36);

  @include larger-than(mobile) {
    width: rem(48);
    height: rem(48);
  }
}
.roundStandardFeed {
  width: rem(36);
  height: rem(36);

  @include larger-than(mobile) {
    width: rem(48);
    height: rem(48);
  }
}

.round:hover {
  // border: rem(3) solid $primary-hover;
  // transition: background-color 0.3s ease-in-out;
}

.round:focus-visible {
  // outline-offset: rem(4);
  // outline-style: solid;
  // outline-width: rem(2);
}

.roundSmall {
  width: rem(32);
  height: rem(32);
  @include larger-than(mobile) {
    width: rem(40);
    height: rem(40);
  }
}

.roundSmall:hover {
  // border: rem(3) solid $primary-hover;
  // transition: background-color 0.3s ease-in-out;
}

.roundSmall:focus-visible {
  // outline-offset: rem(4);
  // outline-style: solid;
  // outline-color: $primary-hover;
  // outline-width: rem(2);
}

.roundSmallFeed {
  width: rem(20);
  height: rem(20);
  @include larger-than(mobile) {
    width: rem(32);
    height: rem(32);
  }
}
.roundSmallFeed:hover {
  // border: rem(3) solid $primary-hover;
  // transition: background-color 0.3s ease-in-out;
}

.roundSmallFeed:focus-visible {
}

.filter {
  width: rem(236.875);
  height: rem(48);
  border-radius: 0;
  box-shadow: none;
}

.primary {
  background-color: $primary;
}

.primary:hover {
  background-color: $primary-hover;
  color: $white-one;
}

.primary:focus-visible {
  // outline-offset: rem(4);
  // outline-style: solid;
  // outline-color: $primary;
  // outline-width: rem(4);
}

.primary:active {
  background-color: $primary-hover;
  color: $white-one;
  outline: none;
}
.primary:disabled {
  background-color: $primary-disabled;
}

.normal {
  background-color: $normal;
}

.normal:hover {
  background-color: $normal-hover;
  transition: background-color 0.3s ease-in-out;
}

.normal:focus-visible {
  // outline-offset: rem(4);
  // outline-style: solid;
  // outline-color: $normal;
  // outline-width: rem(4);
}

.normal:active {
  background-color: $normal-hover;
  outline: none;
}
.normal:disabled {
  background-color: $normal-disabled;
}

.success {
  background-color: $success;
}

.success:hover {
  background-color: $success-hover;
  transition: background-color 0.25s ease-in-out;
}

.success:focus-visible {
  // outline-offset: rem(4);
  // outline-style: solid;
  // outline-color: $success;
  // outline-width: rem(4);
}

.success:active {
  background-color: $success-hover;
  outline: none;
}
.success:disabled {
  background-color: $success-disabled;
}

.warning {
  background-color: $warning;
}

.warning:hover {
  background-color: $warning-hover;
  transition: background-color 0.25s ease-in-out;
}

.warning:focus-visible {
  // outline-offset: rem(4);
  // outline-style: solid;
  // outline-color: $warning;
  // outline-width: rem(4);
}

.warning:active {
  background-color: $warning-hover;
  outline: none;
}
.warning:disabled {
  background-color: $warning-disabled;
}

.danger {
  background-color: $danger;
}

.danger:hover {
  background-color: $danger-hover;
  transition: background-color 0.25s ease-in-out;
}

.danger:focus-visible {
  // outline-offset: rem(4);
  // outline-style: solid;
  // outline-color: $danger;
  // outline-width: rem(4);
}

.danger:active {
  background-color: $danger-hover;
  outline: none;
}
.danger:disabled {
  background-color: $danger-disabled;
}

.info {
  background-color: $info;
}

.info:hover {
  background-color: $info-hover;
  color: $white-one;
  transition: background-color 0.25s ease-in-out;
}

.info:focus-visible {
  // outline-offset: rem(4);
  // outline-style: solid;
  // outline-color: $info;
  // outline-width: rem(4);
}

.info:active {
  background-color: $info-hover;
  outline: none;
}

.info:disabled {
  background-color: $info-disabled;
}

.linkBtn {
  background-color: transparent;
  box-shadow: none;
}

.linkBtn:hover {
  // background-color: $primary;
}

.linkBtn:focus-visible {
  // background-color: $primary;
}

.linkBtn:active {
  // background-color: $primary;
  outline: none;
}
.linkBtn:disabled {
  // background-color: $primary;
}

.icon {
  background-color: unset;
  box-shadow: none;
}
