@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.container {
  background-color: $white-two;
  border-radius: rem(40);
  padding: rem(32);
  // padding-bottom: rem(80);
  .title {
    margin-left: auto;
    width: fit-content;
    margin-right: rem(24);
    margin-bottom: rem(20);
    font-size: $body !important;
  

    .commentCount {
      margin-right: rem(8);
    }
  }

  .commentInputContainer {
    margin-bottom: rem(48);
 
    // overflow: hidden;
    .commentInput {
      min-height: rem(80) !important;
      // padding: rem(32) rem(96) rem(32) rem(32) !important;

    }
  }

  .comment {
    width: 80%;
    margin-bottom: rem(32);
  }

  .reply {
    margin-left: rem(56);
    margin-top: rem(32);
    width: 80%;
  }
  .replyTwo {
    margin-left: rem(128);
    margin-top: rem(32);
    width: 80%;
  }
  .replyThree {
    margin-left: rem(128);
    margin-top: rem(32);
    border-radius: rem(16);
    width: 80%;
  }
  .replyFour {
    margin-left: rem(128);
    margin-top: rem(32);
    border-radius: rem(16);
    width: 80%;
  }
  .replyFive {
    margin-left: rem(128);
    margin-top: rem(32);
    border-radius: rem(16);
    width: 80%;
  }
}
