@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.container {
  .userContainer {
    display: flex;
    align-items: center;
    margin-bottom: rem(20);
    .profile {
      display: flex;
      align-items: center;
      margin-right: rem(20);
      cursor: pointer;
      .avatar {
        margin-right: rem(12);
      }

      .profileNameContainer {
        display: flex;
        flex-direction: column;

        .profileName {
          font-weight: 600;
        }

        .commentAge {
        }
      }
    }
  }

  .comment {
    margin-bottom: rem(12);
  }
  .reactions {
    width: 100%;
    display: flex;
    

    .wrapper {
      width: 60%;
      display: flex;
      justify-content: space-between;
    }
  }
}
