@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.menu {
  display: flex;
  justify-content: center;
  margin-bottom: rem(24);
  @include larger-than(mobile) {
    gap: rem(16);
    justify-content: flex-start;
    align-items: center;
  }

  .icon {
  }

  .menuText {
    margin: 0;
    font-weight: normal;
    font-size: rem(30);
  }
}

.menu:hover {
  transform: scale(1.05);
}

.logout {
  display: flex;
  justify-content: center;

  @include larger-than(mobile) {
    font-size: rem(16);
    justify-content: flex-start;
    align-items: center;
  }
}
