@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  color: $black-four;
  border-radius: rem(40);
  width: rem(48);

  @include only(largeDesktop) {
    width: rem(342);
    height: 84vh;
    background-color: $grey-one;
    box-shadow: $shadow-one;
  }
  @include only(smallDesktop) {
    width: rem(342);
    height: 84vh;
    background-color: $grey-one;
    box-shadow: $shadow-one;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: rem(40);
    margin-bottom: rem(84);
    width: 100%;
    cursor:pointer; 


    .avatar {
      margin-top: rem(48);
      margin-bottom: rem(16);
      @include only(largeDesktop) {
        margin-top: rem(32);
      }
    }

    .name {
   
      //  font-weight: normal;
      font-size: $small;
      // text-transform: uppercase;
    }

    .editIcon {
    }
  }
  .mainMenu {
    margin-bottom: rem(76);
  }

  .menu {
    display: flex;
    justify-content: center;
    margin-bottom: rem(24);
    @include only(largeDesktop) {
      gap: rem(20);
      justify-content: flex-start;
      align-items: center;
    }
    @include only(smallDesktop) {
      gap: rem(20);
      justify-content: flex-start;
      align-items: center;
    }

    .icon {
    }

    .menuText {
      margin: 0;
      font-weight: normal;
      font-size: $tiny;
      text-transform: uppercase;
    }
  }

  .menu:hover {
    transform: scale(1.05);
  }

  .logout {
    position: fixed;
    bottom: rem(80);
    display: flex;
    justify-content: center;
    cursor: pointer;
    @include only(largeDesktop) {
      font-size: rem(16);
      justify-content: flex-start;
      align-items: center;
    }
    @include only(smallDesktop) {
      font-size: rem(16);
      justify-content: flex-start;
      align-items: center;
    }
  }
}