@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  position: relative;
  border-radius: rem(40);
  // background-color: yellow;
  .buttonsAndLike {
    position: absolute;
    z-index: 10;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;

    .likeIconContainer {
      bottom: rem(88);
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(72);
      height: rem(72);
      border-radius: 50%;

      .likeIcon {
      }

      .likeIconHover {
        transition: all 1.3s ease;
      }
    }
    .buttonContainer {
      position: absolute;
      top: 50%;
      z-index: 20;
      transform: translateY(-50%);
      width: rem(40);
      height: rem(40);
      border-radius: 50%;
      transition: transform 0.2s;
      background-color: transparent;
      cursor: auto;

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        width: rem(48);
        height: rem(48);
        opacity: 1;
        pointer-events: visible;
      }

      .leftButton {
      }

      .rightButton {
      }
    }

    .buttonContainer:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  .buttonsAndLike:hover {
    // opacity: 1;
    .likeIconContainer {
    }
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
    }
  }

  .swiper {
    display: flex;
    justify-content: center;

    width: rem(382.8);
    min-height: rem(215.325);
    border-radius: rem(40);

    .swiperSlide {
      position: relative;
      display: flex;
      justify-content: center;
      // background-color: #d5d4d4;
      .image {
        // object-fit: cover;
      }
    }
  }
}
