@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: 80vh
  overflow-y: auto;



  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: rem(732);
  margin-top: rem(300);
  margin-bottom: rem(96);
    .questionAndAnswer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: rem(680);
      min-height: rem(72);
      background-color: $white-one;
      box-shadow: $shadow-one;
      border-radius: rem(40);
      margin-bottom: rem(20);
      cursor: pointer;

      .questionContainer {
        display: flex;
        padding: rem(16) rem(48);
        // margin-bottom: rem(-8);
        min-height: rem(70);
        position: relative;

        .question {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: $h4;
          font-weight: 500;
          width: 100%;
        }

        .closeButtonContainer {
          position: absolute;
          right: rem(16);
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .answer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: rem(16) rem(48);
        margin-top: rem(-24);
        margin-bottom: rem(16);
        width: 100%;
      }
    }
  }
}
