@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.categoriesSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  .categoriesContainer {
    width: rem(312);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: rem(136);
    gap: rem(16);

    @include larger-than(mobile) {
      width: rem(954);
      gap: rem(20);
    }
    @include larger-than(tablet) {
      width: rem(1248);
      gap: rem(20);
    }
  }

  .button {
  }

  .categories {
    width: 90%;
    position: absolute;
    // left: 0;
    // top: 0;
    z-index: 1;
  }
}
