@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.categoriesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    display: flex;
    justify-content: center;
    font-size: $h3 !important;
    font-weight: 600;
    color: $black-four;
    margin-bottom: rem(48);

    @include only(largeDesktop) {
    }

    @include only(smallDesktop) {
      margin-bottom: rem(20);
    }
  }

  .categoriesContainer {
    width: rem(312);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: rem(136);
    gap: rem(16);

    @include only(largeDesktop) {
      width: rem(1248);
      gap: rem(32);
    }

    @include only(smallDesktop) {
      width: rem(1248);
      gap: rem(32);
    }
    @include only(tablet) {
      width: rem(1000);
      gap: rem(32);
    }
  }

  .button {
  }

  .categories {
    width: 90%;
    position: absolute;
    z-index: 1;
  }
}
