@import "@/utils/variables.scss";
@import "@/utils/functions.scss";
@import "@/utils/breakpoints.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin-bottom: rem(56);
    font-weight: 600;
  }

  .carousel {
    display: flex;
    justify-content: center;
  }
}
