@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.openCloseButtons {
  position: absolute;
  top: rem(55);
  cursor: pointer;
}
.exitButton {
}
.openButton {
}

.OlyFeed {
  transition: margin-left 0.5s;
  // padding: 16px;
}
.open {
  width: rem(342);
  height: rem(7000);
}

.closed {
  display: none;
}

.showBtn {
  display: block;
}

.hideBtn {
  display: none;
}
