@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.star {
  display: none;
  position: absolute;
  z-index: 10;
  top: 50px;
  left: 50px;

  @include only(smallDesktop) {
    display: none;
  }
  @include only(largeDesktop) {
    display: block;
  }
  @include only(tablet) {
    display: block;
  }
}
.mainContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96vw;
  height: 95vh;
  border-radius: rem(150);
  gap: rem(24);
  

  @include only(largeDesktop) {
   
  }

  @include only(smallDesktop) {
  }

  @include only(tablet) {
    width: 100vw;
    padding: rem(0) rem(40) !important;
  //  background-color: #c9e5e8;
   border-radius: 0;
  }

  @include only(extraLargeDesktop) {
  }

  .logo {
    position: absolute;
    top: 0;
    right: 50%;
  }

  .titleContainer {
    position: relative;
    display: flex;
    width: 40vw;
    justify-content: center;
    align-items: center;

    h1 {
      width: rem(640) !important;
      font-size: $h1;
      font-weight: 600;
       line-height: 1.2;
      text-align: center;
      color: $black-four;
      z-index: 1;
      @include only(largeDesktop) {
        width: rem(740);

        line-height: 1.2;
      }

      @include only(smallDesktop) {
        width: rem(500) !important;
        font-size: rem(36) !important;
      }
      @include only(tablet) {
       width: rem(400) !important;
        font-size: rem(30) !important;
      }
    }
  }
  .HeroSectionFieldsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;

    @include only(smallDesktop) {
    }

    @include only(tablet) {
     padding: rem(0) rem(340) !important;
    }
  }
}
