@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
  .star {
    display: none;
    position: absolute;
    top: 50px;
    left: 50px;

    @include only(smallDesktop) {
      display: block;
    }
    @include only(largeDesktop) {
      display: block;
    }
    @include only(tablet) {
      display: block;
    }
  }

.mainSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96vw;
  height: 95vh;
  border-radius: rem(150);
  gap: rem(24);

  @include only(tablet) {
    background-color: burlywood;
  }

  @include only(smallDesktop) {
    background-color: rgb(248, 133, 133);
    justify-content: space-between;
    // gap: rem(96);
  }
  @include only(largeDesktop) {
    background-color: pink;
    justify-content: space-between;
    gap: rem(96);
  }
  @include only(extraLargeDesktop) {
    background-color: yellow;
  }


  .mainTitle {
    width: rem(640) !important;
    margin-top: rem(64);
    margin-bottom: rem(96);
    font-size: $h1 !important;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    color: $black-four;
    position: none;
    z-index: 1;

    @include only(tablet) {
      width: rem(500) !important;
      margin-left: rem(80);
      font-size: rem(44) !important;
    }
    @include only(smallDesktop) {
      width: rem(500) !important;
      margin-left: rem(80);
      font-size: rem(44) !important;
    }

    @include only(largeDesktop) {
      width: rem(740);
      margin-top: rem(96);
      margin-left: rem(112);
      font-size: rem(64);
      line-height: 1.2;
    }
  }

  .heroSectionSearchContainer {
    display: flex;
    
    margin-right: rem(8);

    @include only(tablet) {
      position: absolute;
      right: 0;
      justify-self: right !important;
    }
    @include only(smallDesktop) {
      position: absolute;
      right: 0;
      justify-self: right !important;
    }
  }
}
