@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 93vh;
  border-radius: rem(150) rem(150) rem(150) rem(150);
  background-color: $primary;
  background-color: #c9e5e8;

  .text {
    display: none;
  }

  @include only(mobile) {
    .mobile {
      display: block;
    }
  }
  @include only(tablet) {
     width: 94.5vw;
    height: 93vh;
    .tablet {
      display: block;
    }
  }

  @include only(smallDesktop) {
    width: 94.7vw;
    height: 93vh;
    .smallDesktop {
      display: block;
      width: 100vw;
      height: 93vh;
    }
  }
  @include only(largeDesktop) {
    width: 50vw;
    height: 93vh;
    .largeDesktop {
      display: block;
    }
  }
  @include only(extraLargeDesktop) {
    width: 50vw;
    height: 93vh;
  }

  .logo {
    margin-top: rem(104);
    margin-bottom: rem(48);

    @include only(tablet) {
      width: rem(80);
      height: "auto";
    }

    @include only(smallDesktop) {
      width: rem(120);
      height: "auto";
    }
    @include only(largeDesktop) {
      width: rem(120);
      height: "auto";
    }
    @include only(extraLargeDesktop) {
      width: rem(120);
      height: "auto";
    }
  }
  .buttonsAndSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: rem(48);

    .buttons {
      display: flex;
      flex-direction: column;
      margin-bottom: rem(64);

      .link {
      }

      .postYourAdBtn {
        margin-bottom: rem(20);
        background-color: $danger-hover;
        color: $white-one;
      }

      .postYourAdBtn:hover {
        background-color: #f83710;
      }

      .categoriesBtn {
        background-color: $white-two;
        box-shadow: none;
      }

      .categoriesBtn:hover {
        background-color: $white-one;
      }
    }

    
  }
}
