@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.likeIconContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(128);
  height: rem(128);
  border-radius: 50%;
  cursor: pointer;

  .likeIconBG {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(150);
    height: rem(150);
    transform: translateY(50%);
    border: 0px solid black;
    border-radius: 50%;
    background-color: hsla(195, 91%, 86%, 1);

    .likeIcon {
      text-align: center;
      background-color: #bdecfc;
    }
  }
}

.postMetrics {
  width: rem(250);
  height: rem(24);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: $black-four;
  font-size: rem(12);


  .likes {
    display: flex;
    margin-left: rem(16);
    .icon {
      margin-right: rem(4);
      margin-top: rem(-1);
    }
  }
  .views {
    display: flex;
    .icon {
      margin-right: rem(4);
      margin-top: rem(-1);
    }
  }

  .postAge {
    font-size: rem(12);
    .duration {
      margin-left: rem(8);
      margin-right: rem(8);
    }
  }
}
