
@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;



.listingsContainer {
  display: flex;
  justify-content: center;
  width: rem(1650);
  gap: rem(32) !important;


}

.cardContainer {
  display: flex;
  justify-content: center;
  width: rem(310) !important;
  pointer-events: auto;
  .card {
    width: fit-content;
    margin-bottom: rem(44) !important;
  }
}

.skeletons {
 margin-bottom: rem(44);
}


