@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include only(largeDesktop) {
  
  }
  @include only(smallDesktop) {
    width: rem(844);
  
  }
  @include only(tablet) {
    width: rem(844);
  
  }
  @include only(mobile) {
  
  }
     .title {
      display: flex;
      justify-content: center;
      font-size: $h3 !important;
      font-weight: 600;
      color: $black-four;
      margin-bottom: rem(48);

      @include only(largeDesktop) {
      }

      @include only(smallDesktop) {
        margin-bottom: rem(20);
      }
    }

  .classifieds {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: rem(32);
  }
}
