@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.leftArrowContainer {
  .leftArrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white-four;
    box-shadow: none;

    .left {
    }
  }
}
