@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  // background-color: #f5f5f5;
}

.pageButton {
  width: rem(48);
  height: rem(48);
  border-radius: 50%;
  border: none;
  background-color: $white-three !important;
  box-shadow: $shadow-one !important;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover:not(:disabled) {
    background-color: #f0f0f0;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &.active {
    background-color: $white-one !important;
  }

  &.ellipsis {
    // background: transparent;
    cursor: default;
  }
}

.arrowButton {
  width: rem(48);
  height: rem(48);
  border-radius: 50%;
  border: none;
  background-color: $white-three !important;
  color: #8b5cf6;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: $shadow-one !important;
  &:hover:not(:disabled) {
    background-color: #f0f0f0;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
