@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  justify-content: center;
  font-size: rem(14);
  align-items: center;
  width: fit-content;
  height: fit-content;
  border-radius: rem(40);
  
}
