@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: rem(6);
  font-size: $small;
  width: fit-content;
  height: fit-content;
  border-radius: rem(40);

  .cancelButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(22);
    height: rem(22);
    border-radius: 50%;
    background-color: $grey-one;
    margin-right: rem(-10); // NEGATIVE: pulls dot flush to right edge
  }

  .cancelButton:hover {
    background-color: $white-five;
  }
}
