@import "@/utils/variables.scss";
@import "@/utils/functions.scss";
@import "@/utils/breakpoints.scss";

.container {
    width: rem(500);
    height: rem(500);
    border: black solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}