@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    margin-top: rem(52);
    margin-bottom: rem(32);
    color: $danger;
    font-size: $body;
    font-weight: bold;

    @include larger-than(mobile) {
      font-size: $h4;
      margin-top: rem(124);
      margin-bottom: rem(48);
    }
  }

  .cards {
    // margin-bottom: rem(48);
    .cardContainer {
      margin-bottom: rem(48);
    }
  }

  .promotionTotal {
    display: flex;
    align-items: center;
    gap: rem(20);
    .promotion {
    }

    .price {
      font-weight: bold;
      font-size: $h2;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: rem(48);
    margin-bottom: rem(124);

    .proceedButton {
      margin-bottom: rem(20);
    }

    .backButton {
    }
  }
}
