@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

// Container for the radio group
.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

// Error message styling
.errorMessage {
  color: #ef4444;
  font-size: 0.875rem;
  margin-bottom: 8px;
}

// Individual radio option
.radioOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  gap: rem(14);
}

.radioInput {
  display: flex;
  align-items: center;
  cursor: pointer;

  // Hide the native radio input
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;

    // Ensure focus state is visible for accessibility
    &:focus + span::before {
      outline: 2px solid $primary-hover;
      outline-offset: 0.5px;
    }

    // Style for checked state
    &:checked + span::before {
      background-color: $primary-hover;
      width: 24px;
      height: 24px;
      border-radius: rem(8);
      box-shadow: none;
    }

    // Disabled state
    &:disabled + span {
      cursor: not-allowed;
      color: #e0e0e0;

      &::before {
        border-color: #e0e0e0;
        background-color: #e0e0e0;
      }
    }
  }

  // Custom radio button
  span {
    display: flex;
    align-items: center;
    position: relative;

    // Outer circle
    &::before {
      content: "";
      width: rem(24);
      height: rem(24);
      background-color: $white-one;
      border: rem(4) solid $white-one;
      outline: rem(0.5) solid #9defff;
      border-radius: rem(8);
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow:
        -2px -2px 10px 0px #fff inset,
        2px 2px 10px 0px rgba(170, 186, 204, 0.5) inset,
        2px 2px 4px 0px rgba(120, 145, 171, 0.25) inset,
        -2px -2px 4px 0px rgba(255, 255, 255, 0.5) inset;
    }
  }

  // Hover effect (only when not disabled)
  &:hover {
    input[type="radio"]:not(:disabled) + span::before {
      background-color: $primary;
    }

    input[type="radio"]:checked:not(:disabled) + span::before {
      background-color: #00c9f1;
    }
  }
}

.labelLeft,
.labelRight {
  font-size: $small;
}
