@import "@/utils/variables.scss";
@import "@/utils/functions.scss";
@import "@/utils/breakpoints.scss";

.container {
  margin-top: rem(48);
  .searchBar {
    width: rem(500);
    height: rem(56);
  }
}
