@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.selectMenu {
  display: flex;
  flex-direction: column;
  align-items: center;

  .errorMessage {
    color: $danger;
    margin-bottom: rem(8);
  }
  .selectContainer {
    position: relative;
    cursor: pointer;
    .select {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: rem(40);
      background-color: $white-three;
      height: rem(56);
      box-shadow: $shadow-one;
      text-align: center;
      border: none;
      outline: none;
      appearance: none;
      margin: 0 !important;

      &:hover {
        background-color: $white-one !important;
      }
    }

    .input {
      height: rem(56);
      border-radius: rem(40);
      box-shadow: $shadow-two;
    }

    .dropdownIconContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      width: rem(80);
      height: 100%;
      border-radius: rem(40);
      pointer-events: none;

      .dropdownIcon {
      }
      .dropdownIconOpen {
        transform: rotate("-180deg");
        transition: all;
      }
    }
  }
}

.options {
  max-height: rem(400);
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: rem(4);

  .option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: rem(40);
    height: 94%;
    margin: rem(4) auto 0;

    background-color: $white-two;
  }

  .option:hover {
    background-color: $white-three;
  }
}

.options::-webkit-scrollbar-track {
  border-radius: rem(40);
  margin-block: rem(30);
}

.hideOptions {
  display: none;
}

/*################################################################# */

@mixin option-width($width) {
  width: calc(#{$width} * 0.96);
}

.xxLarge {
  @include only(largeDesktop) {
    width: rem(1296);
    height: rem(56);
  }
}

.xxLarge .option {
  @include option-width(rem(1296));
}

.xLargeFeed {
  width: rem(954);
  height: rem(56);
}

.xLargeFeed .option {
  @include option-width(rem(954));
}

.xLarge {
  @include only(largeDesktop) {
    width: rem(954);
    height: rem(56);
  }
}

.xLarge .option {
  @include option-width(rem(954));
}

.xLargeFeed {
  width: rem(793);
  height: rem(56);
}

.xLargeFeed .option {
  @include option-width(rem(793));
}

.large {
  width: rem(311);
  height: rem(56);
  @include only(largeDesktop) {
    width: rem(514);
    height: rem(56);
  }
}

.large .option {
  @include option-width(rem(514));
}

.largeFeed {
  width: rem(471);
}

.largeFeed .option {
  @include option-width(rem(471));
}

.medium {
  width: rem(202);
  height: rem(56);
  @include only(largeDesktop) {
    width: rem(424);
  }
}

.medium .option {
  @include option-width(rem(424));
}

.mediumFeed {
  width: rem(310);
  height: rem(48);
}

.mediumFeed .option {
  @include option-width(rem(310));
}

.xxLargeDashboard {
  @include only(largeDesktop) {
    width: rem(1002);
    height: rem(56);
  }
}

.xxLargeDashboard .option {
  @include option-width(rem(1002));
}

.xLargeDashboard {
  @include only(largeDesktop) {
  }
}

// .xLargeDashboard .option {
//   @include option-width(rem(1002));
// }

.largeDashboard {
  @include only(largeDesktop) {
    width: rem(471);
    height: rem(56);
  }
}

.largeDashboard .option {
  @include option-width(rem(471));
}

.mediumDashboard {
  width: rem(240);
  height: rem(48);
  @include only(largeDesktop) {
    width: rem(326);
    height: rem(48);
  }
}

.mediumDashboard .option {
  @include option-width(rem(326));
}

.primary {
  background-color: $primary;
}

.primary:hover {
  background-color: $primary-hover;
}

.primary:active {
  background-color: $primary-hover;
}
.primary:disabled {
  background-color: $primary-disabled;
}

.primary:focus {
  background-color: $primary;
  outline: $primary-hover;
}

.normal {
}

.normal:hover {
}
.normal:active {
}

.normal:focus {
  outline-offset: rem(4);
  outline-style: solid;
  outline-color: $white-one;
  outline-width: rem(4);
}

.outline {
}

.outline:hover {
  background-color: $primary;
}
.outline:active {
  background-color: $primary;
}
.outline:disabled {
  background-color: $primary;
}

.outline:focus {
  background-color: $primary;
}

.success {
  background-color: $success;
}

.success:hover {
  background-color: $primary;
}
.success:active {
  background-color: $primary;
}
.success:disabled {
  background-color: $primary;
}

.success:focus {
  background-color: $primary;
}

.warning {
  background-color: $warning;
}

.warning:hover {
  background-color: $primary;
}
.warning:active {
  background-color: $primary;
}
.warning:disabled {
  background-color: $primary;
}

.warning:focus {
  background-color: $primary;
}

.danger {
  background-color: $danger;
}

.danger:hover {
  background-color: $primary;
}
.danger:active {
  background-color: $primary;
}
.danger:disabled {
  background-color: $primary;
}

.danger:focus {
  background-color: $primary;
}

.info {
  background-color: $info;
}

.info:hover {
  // background-color: $primary;
}
.info:active {
  background-color: $primary;
}
.info:disabled {
  background-color: $primary;
}

.info:focus {
  background-color: $primary;
}

.linkBtn {
  background-color: transparent;
  box-shadow: none;
}

.linkBtn:hover {
  background-color: $primary;
}
.linkBtn:active {
  background-color: $primary;
}
.linkBtn:disabled {
  background-color: $primary;
}

.linkBtn:focus {
  background-color: $primary;
}

.icon {
  background-color: unset;
  box-shadow: none;
}
