@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95vw;

  .title {
    color: $danger;
    font-weight: 600;
    margin-top: rem(64);
    margin-bottom: rem(24);
  }

  .collage {
    width: 100%;
  }
}
