@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.container {
    .title {
      display: flex;
      justify-content: center;
      font-size: $h3 !important;
      font-weight: 600;
      color: $black-four;
      margin-bottom: rem(48);

      @include only(largeDesktop) {
      }

      @include only(smallDesktop) {
        margin-bottom: rem(20);
      }
    }
}
