@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: rem(1200);
  margin: 0 auto;
  padding: rem(32);

  .articleHeader {
    width: 100%;
    text-align: center;
    margin-bottom: rem(48);

    .articleTitle {
      font-size: $h1;
      font-weight: 600;
      color: $black-four;
      margin-bottom: rem(16);
      line-height: 1.2;
    }
  }

  .articleContent {
    width: 100%;

    .articleImage {
      width: 100%;
      height: auto;
      border-radius: rem(40);
      margin-top: rem(12);
      margin-bottom: rem(32);
      box-shadow: $shadow-one;
    }

    .articleIntro {
      font-size: $h4;
      line-height: 1.6;
      color: $black-four;
    }

    .articleSubtitle {
      font-size: $h3 !important;
      font-weight: 600;
      margin-bottom: rem(20);
    }
    p {
      margin-bottom: rem(20);
    }
    ul {
      margin-bottom: rem(20);
    }
    ol {
      margin-bottom: rem(20);
    }
  }
}
