@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 60ch;
  margin: 0 auto;
  padding: rem(32);



  .articleContent {
    width: 100%;

.articleDate {
    font-size: $tiny;
    text-transform: uppercase;
}
    .articleImage {
      width: 100%;
      height: auto;
 
      margin-top: rem(12);
      margin-bottom: rem(32);
     
    }

    .articleIntro {
      font-size: $h4;
      line-height: 1.6;
      color: $black-four;
    }

    .articleSubtitle {
      font-size: $h4 !important;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: rem(20);
    }
    p {
      margin-bottom: rem(20);
    }
    ul {
      margin-bottom: rem(20);
    }
    ol {
      margin-bottom: rem(20);
    }
  }
}
