@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  margin-right: rem(32);
  margin-left: rem(64);


  .textInputContainer {
    position: relative;
    // height: rem(56);

    .inputArea {
      width: rem(634);
      padding: rem(16) rem(136) rem(16) rem(72);
      font-size: $h4;
      line-height: 1.5;
      background-color: yellowgreen;
    }

  
  }
}
