@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  .label {
    display: none;
  }

  .errorMessage {
    color: $danger;
    margin-bottom: rem(8);
  }

  .textarea {
    max-height: rem(240);
    line-height: 1.5;
    border: none;
    outline: none;
    border-radius: rem(40);
    overflow: auto;
    resize: none; // can not be resized by user
    background: $white-one;
    box-shadow: $shadow-two;
  }

  .textarea::placeholder {
    text-align: center; /* This won't actually center the text */
  }

  .textarea::-webkit-scrollbar-track {
    border-radius: rem(40);
    margin-block: rem(30);
  }

  .textarea:is(:focus) {
    outline-offset: rem(0) !important;
    outline-style: solid;
    outline-color: $white-one;
    outline-width: rem(4);
  }
  .xxLarge {
    @include larger-than(mobile) {
      width: rem(1296);
      height: rem(56);
    }
  }

  .xxLargeFeed {
    width: rem(954);
    min-height: rem(56);
  }

  .xLarge {
    @include larger-than(mobile) {
      width: rem(1078);
      min-height: rem(56);
    }
  }

  .xLargeFeed {
    width: rem(793);
    min-height: rem(56);
  }

  .large {
    width: rem(311);
    min-height: rem(56);

    @include larger-than(mobile) {
      width: rem(514);
      min-height: rem(56);
    }
  }

  .largeFeed {
    width: rem(471);
    min-height: rem(56);
    // max-height: rem(240);
  }

  .medium {
    width: rem(202);
    min-height: rem(56);
    @include larger-than(mobile) {
      width: rem(424);
      min-height: rem(56);
    }
  }

  .mediumFeed {
    width: rem(310);
    min-height: rem(48);
  }
}
