@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  .uploadMediaContainer {
    .uploadBox[type="file"] {
      display: none;
    }
    .uploadVideoContainer {
      margin-bottom: rem(24);

      .uploadVideo {
        display: none;
      }
    }

    .videoURL {
    }

    .label {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $body;
      border-radius: rem(32);
      cursor: pointer;
      background-color: $primary;
      box-shadow:
        10px 10px 20px 0px rgba(169, 196, 203, 0.5),
        5px 5px 10px 0px rgba(169, 196, 203, 0.25);
    }

    .label:hover {
      background-color: $primary-hover;
    }
  }
}
