@use "@/utils/variables" as *;
@use "@/utils/functions" as *;

.container {
  .uploadMediaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $white-three;
    border: none;
    outline: none;

    border-radius: rem(32);
    box-shadow:
      0px -3px 3px 0px rgba(0, 94, 117, 0.1) inset,
      0px 5px 5px 0px rgba(0, 94, 117, 0.09) inset,
      0px 12px 7px 0px rgba(0, 94, 117, 0.05) inset,
      0px 21px 8px 0px rgba(0, 94, 117, 0.01) inset,
      1px 33px 9px 0px rgba(0, 94, 117, 0) inset;

    .uploadBox[type="file"] {
      display: none;
    }
    .uploadVideoContainer {
      margin-bottom: rem(24);

      .uploadVideo {
        display: none;
      }
    }

    .or {
      margin-bottom: rem(24);
    }

    .videoURL {
    }

    .label {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: $body;
      border-radius: rem(32);
      cursor: pointer;
      background-color: $primary;
      box-shadow:
        10px 10px 20px 0px rgba(169, 196, 203, 0.5),
        5px 5px 10px 0px rgba(169, 196, 203, 0.25);
    }

    .label:hover {
      background-color: $primary-hover;
    }
  }
  .boxLarge {
    width: rem(664);
    height: rem(440);
  }

  .boxMedium {
    width: rem(514);
    height: rem(360);
  }

  .labelLarge {
    width: rem(471);
    height: rem(56);
  }
  .labelMedium {
    width: rem(336.4285);
    height: rem(56);
  }
}
