@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.container {
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(12);
    background-color: $white-three;
    padding: rem(12) !important;
    border-radius: rem(40);
    margin-bottom: rem(48);

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: rem(12);
      cursor: pointer;
      width: rem(600);
      height: rem(160);
      padding: 0 rem(60);
      border-radius: rem(40);
      background-color: $white-four;
      box-shadow: $shadow-one;

      .labelAndValue {
        display: flex;
        justify-content: space-between;

        .label {
          font-size: $body;
          font-weight: 600;
        }
        .value {
          font-weight: 600;
        }
      }

      .description {
        font-size: $small;
        font-weight: 300;
        // color: $grey-four;
      }

      .typicalAge {
        font-size: $small;
        font-weight: 300;
        // color: $grey-four;
      }
    }

    .card:hover {
      background-color: $white-three;
    }
  }
}
