@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  // height: 100vh;
  width: 100vw;

  .title {
    font-size: $h4;
    color: $danger;
    font-weight: 500;
  }

  .featuresContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: rem(48);

    .featureGroup {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 75%;
      padding: rem(0) rem(50);
      border-radius: rem(48);
      margin-bottom: rem(48);
      // background-color: $white-three;
      .category {
        font-size: $tiny;
        text-transform: uppercase;
        // font-weight: 500;
        color: $danger;
        margin-bottom: rem(32);
      }

      .features {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: rem(32);
        width: 100%;
        padding: 0 rem(54);
        .feature {
          display: flex;
          align-items: center;
          width: 30%;
          gap: rem(32);
          font-size: rem(13);
          //   margin-bottom: rem(32);
        }
      }
    }
  }
  .buttonContainer {
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
    background-color: $white-four;
    width: 100vw;

    .button {
      margin-top: rem(20);
      margin-bottom: rem(48);
    }
  }
}
