@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.container {
  display: flex;
  background-color: $white-three;
  justify-content: space-between;
  align-items: center;
  width: rem(700);
  padding: rem(8) !important;
  border-radius: rem(50);
  box-shadow: $shadow-one;

  cursor: pointer;

  .iconContainer {
    width: rem(75);
    height: rem(60);
    margin-left: rem(8);

    border-radius: 50%;
    background-color: $grey-one;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 54%;
    height: inherit;
    margin-left: rem(48);

    .title {
      font-size: $h4;
    }
  }

  .publishButtonContainer {
    display: flex;
    align-items: center;
    margin-left: rem(48);
    margin-right: rem(64);

    .publishButton {
    }

    .publishButtonText {
      margin-left: rem(8);
    }
  }

  .deleteButton {
    background-color: $white-four;
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(24);
    height: rem(24);
    border-radius: 50%;
    margin-right: rem(32);
  }
}

.attachmentContainer:hover {
  background-color: $white-one;
}
