@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.container {
  display: flex;
  border-radius: rem(44);
  box-shadow: $shadow-one;
  background-color: white;
  width: rem(302.4);
  cursor: pointer;
  .link {
    position: relative;
    display: flex;
    width: rem(302.4);
    height: rem(378);
    border-radius: rem(44);
    box-shadow: $shadow-one;
    background: linear-gradient(
      to top,
      rgba($black-one, 0.6),
      rgba($black-one, 0.3)
    );

    @include only(largeDesktop) {
      
    }

    @include only(smallDesktop) {
     height: rem(400);
    }

    @include only(tablet) {
     height: rem(400);
    }

  
    .textContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: rem(44);
      background: linear-gradient(
        to top,
        rgba($black-one, 0.3),
        rgba($black-one, 0.3)
      );

      .text {
        position: relative;
        text-align: center;
        padding: 0 rem(20);
        margin-bottom: rem(16);
        line-height: 1;
        font-size: rem(40);
        font-weight: 600;
        color: $primary;

        // text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
      }
    }
  }
}
