@use "@/utils/functions" as *;
@use "@/utils/variables" as *;
@use "@/utils/breakpoints" as *;
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: rem(920);
  min-height: rem(208);
  max-height: rem(328);
  padding: rem(32);
  border-radius: rem(40);
  background-color: $white-two;
  cursor: pointer;

  .deleteButton {
    position: absolute;
    top: rem(16);
    right: rem(40);
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(32);
    height: rem(32);
    border-radius: 50%;
    background-color: $white-three;
    opacity: 0; // hidden by default
    pointer-events: none; // prevent invisible button from blocking clicks
  }

  .mainSection {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: rem(180);
    padding: rem(20) 0;

    .isRead {
      width: rem(16);
      height: rem(16);
      border-radius: 50%;
      background-color: $danger;
    }

    .avatar {
    }
    .info {
      width: rem(460);
      .feedbackType {
        display: inline-block;
        font-weight: 500;
        border-radius: rem(16);
        width: auto;
        margin-bottom: rem(20);
      }
      .message {
        margin-bottom: rem(20);
        .title {
          margin-bottom: rem(16);
          font-weight: 800;
          .name {
            font-weight: 500;
          }

          .restOfTitle {
            font-weight: 500;
          }
        }

        .body {
        }
      }
      .time {
      }
    }

    .image {
    }
  }

  .buttonsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: rem(148);
    padding-bottom: rem(32);
    border-radius: 0 0 rem(40) rem(40);
    background-color: $white-one;
    .buttonContainer {
      margin-bottom: rem(20);

      .button {
        background-color: $white-four;
      }

      .button:hover {
        background-color: $primary;
      }
    }

    .firstButtonContainer {
      margin-top: rem(32);
      .firstButton {
        background-color: $primary;
      }

      .firstButton:hover {
        background-color: $primary-hover;
        color: white;
      }
    }
  }
}

.container:hover .deleteButton {
  opacity: 1;
  pointer-events: auto; // clickable when visible
}
