@use "@/utils/functions" as *;
@use "@/utils/variables" as *;
@use "@/utils/breakpoints" as *;
.cardContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: rem(40);
  cursor: pointer;
  box-shadow: $shadow-one;
  background-color: $grey-one;

  @include only(largeDesktop) {
    width: rem(306);
    height: rem(338);
  }
  @include only(smallDesktop) {
    width: rem(306);
    height: rem(338);
  }
  @include only(tablet) {
    width: rem(306);
    height: rem(338);
  }

  .imageContainer {
    height: rem(128);
    border-radius: rem(40) rem(40) 0 0;
    position: absolute;

    @include only(largeDesktop) {
      height: rem(216);
    }
  }
  .labelContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 rem(40) rem(40);
    margin-top: auto;
    background-color: $grey-one;

    height: rem(88);

    .label {
      color: $black-four;
      letter-spacing: 1.15px !important;
      text-align: center;
      font-size: rem(20);
      font-weight: 500;
      line-height: 1.2;
      padding: 0 rem(20);
    }
  }
}

.cardContainer:hover {
  transform: scale(1.04);
}
