@use "@/utils/functions" as *;
@use "@/utils/variables" as *;
@use "@/utils/breakpoints" as *;
.cardContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: rem(40);
  cursor: pointer;
  box-shadow: $shadow-one;
  background-color: $grey-one;
  .imageContainer {
    height: rem(128);
    border-radius: rem(40) rem(40) 0 0;
    position: absolute;

    @include only(largeDesktop) {
      height: rem(216);
    }
    @include only(smallDesktop) {
      height: rem(216);
    }
  }

  .labelContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 rem(40) rem(40);
    margin-top: auto;
    .label {
      color: $white-one;
      letter-spacing: 1.15px !important;
      text-align: center;
      font-size: rem(28);
      font-weight: 500;
      line-height: 1;
      padding: rem(2) rem(24) rem(24) rem(12);
      // background-color: rgba(0, 0, 0, 0.164);
      border-radius: rem(40);
    
  }
}
.largeLabelContainer {
 .label {
    -webkit-text-stroke: rem(0.4) $primary !important;
    text-shadow: 2px 2px 4px #03181d71 !important;
    font-weight: 800;

  }
 }
}
.standardLabelContainer {
     .label {
       color: $white-one !important;
      -webkit-text-stroke: rem(0.1) #0a5f70ce !important;
      text-shadow: 2px 2px 4px #03181d71 !important;
      font-size: rem(24) !important;
      font-weight: 800 !important;
    }
}

.large {
  position: relative;
  width: rem(290);
  height: rem(321);
}

.standard {
  position: relative;
  width: rem(228) !important;
  height: rem(236);
}

.largeLabelContainer {
  height: rem(84);
  // border-radius: 0 0 rem(40) rem(40);
  // display: flex;
  // justify-content: center;
  // align-items: center;

  .label {
    // font-size: $h3;
  }
}

.standardLabelContainer {
  height: rem(56);
  // font-size: $h4;
  // padding: rem(8) !important;
  // width: rem(228);

  @include only(largeDesktop) {
    height: rem(72);
  }
  @include only(smallDesktop) {
    height: rem(72);
  }
}

.cardContainer:hover {
  transform: scale(1.04);
  // border-radius: rem(40);
}
.cardContainer:hover .labelContainer {
  // background-color: $white-three;
  // color: $white-two;
}
