@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
   .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: rem(12);
        cursor: pointer;
        width: rem(600);
        height: rem(160);
        padding: 0 rem(60);
        border-radius: rem(40);
        background-color: $white-four;
        box-shadow: $shadow-one;
      }

      .card:hover {
        background-color: $white-three;
      }