@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: rem(280);
  height: rem(500);
  border-radius: rem(40);
  margin-left: rem(6) !important;
  margin-bottom: rem(-24) !important;

  @include only(largeDesktop) {
    margin-bottom: unset !important;
    width: rem(900);
    min-height: rem(255);
    height: unset;
  }

  .wrapper {
    display: flex;
    align-items: center !important;
    width: 100%;
    .platformContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: rem(250);
      height: rem(160);
      .title {
        margin-top: rem(24);
        margin-bottom: rem(24);
        text-align: center;
        width: 80%;
        font-size: rem(14);
      }
    }

    .formControls {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: rem(400);
      margin: 0 rem(64) 0 rem(64);
      .setPromotionDurationContainer {
        margin-bottom: rem(20);

        .setPromotionDuration {
          box-shadow: $shadow-three;
        }
      }
      .moreInfoButton {
        background-color: $white-three;
        box-shadow: $shadow-three;

        &:hover {
          background-color: $white-one;
        }
      }
    }

    .priceContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: rem(72);
      width: rem(72);
      height: rem(72);
      border-radius: 50%;

      .price {
        font-weight: 500;
        font-size: rem(24);
      }
    }

    .checkbox {
      width: rem(24);
      height: rem(24);
      border: rem(4) solid $white-one;
    }
  }
}
