@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    color: $danger;
    font-size: $h4;
    font-weight: 500;
    margin-bottom: rem(48);
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(8);
    margin-bottom: rem(56);
    
  }

  .historyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(8);
    margin-bottom: rem(56);
    
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .inputContainer {
      margin-bottom: rem(20);
      pointer-events: auto;
    }

    .buttonsContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(20);
    }
  }
}