@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  position: relative;
  width: rem(640);
  display: flex;
  flex-direction: column;
  align-items: center;

  .errorMessage {
    color: $danger;
    margin-bottom: rem(8);
  }

  .editorContainer {
    position: relative;

    .label {
      position: absolute;
      top: rem(80);
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: rem(10);
      text-transform: uppercase;
      color: $grey-four;
      margin-bottom: rem(18) !important;
      z-index: 10;
    }

    .required {
      position: absolute;
      top: rem(96);
      left: rem(32);
      
      font-size: rem(10);
      text-transform: uppercase;
      color: $grey-four;
      margin-bottom: rem(18) !important;
      z-index: 10;
    }

    .fr-box,
    .fr-element,
    .fr-view {
      font-family: "Outfit", sans-serif !important;
    }

    :global(.fr-element)  {
      p {
        margin-top: rem(8);
       
      }
    }
  }
}

.skeleton {
  width: rem(640);
  height: rem(240);
  background-color: $grey-three;
  border-radius: rem(8);
}
