@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.listingImages {
  
  margin-top: rem(56);
  display: flex;
  flex-direction: column;
  align-items: center;
  .galleryContainer {
    background-color: yellow;

    .breadcrumbsContainer {
      margin: rem(96) rem(0) rem(8) rem(32);
    }

    .gallery {
      display: flex;
      flex-direction: column;
      align-items: center;
  
    }
  }
}
