@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: rem(918);
  min-height: rem(200);
  // background-color: $white-three;
  // background-color: aqua;
 .title {
    color: $danger;
    font-weight: 600;
    margin-top: rem(64);
    margin-bottom: rem(24);
  }
  .details {
    margin: 0 auto rem(96);
    // padding: rem(48) rem(432) 0;
    display: grid;
    grid-template-columns: repeat(2, rem(400));
    gap: rem(16) rem(48);
    // background-color: red;
    .detail {
      display: flex;
      align-items: flex-start;
      // margin-bottom: rem(16);
      width: rem(400);
      // background-color: green;
      .bulletContainer {
        .bullet {
          position: relative;
          width: rem(24);
          height: rem(12);
          border: rem(1) solid $grey-four;
          border-radius: rem(6);
          margin-right: rem(20);
          margin-top: rem(8);
          break-after: always;
          box-shadow: 2px 2px 3px rgb(177, 189, 189);
        }
      }
      .textContainer {
        p {
          font-size: $h4;
          font-weight: 500;
        }
      }
    }
  }
}
