@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.priceSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: rem(56);

  .priceLabel {
    // margin-bottom: rem(-8);
  }
  .price {
    margin-bottom: rem(16);
    font-weight: 600;
    font-size: $h2;
  }

  .nonAuctionPrice {
    font-weight: 600;
    font-size: $h2;
  }

  .countDown {
    margin-bottom: rem(16);
    .countDownPeriod {
      font-size: rem(16);
      margin-right: rem(16);
    }
  }

  .buyNowLabel {
  }
  .buyNow {
  }
}
