@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
 .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: rem(40);
    gap: rem(20);
    height: rem(420);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 rem(50);
    margin-bottom: rem(48);

    .attachmentContainer {
      display: flex;
      background-color: $white-three;
      justify-content: space-between;
      align-items: center;
      width: rem(540);
      padding: rem(8);
      border-radius: rem(50);
    box-shadow: $shadow-one;

      cursor: pointer;

      .iconContainer {
        width: rem(75);
        height: rem(60);
        margin-left: rem(8);

        border-radius: 50%;
        background-color: $grey-one;
      }

      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 54%;
        height: inherit;
        margin-left: rem(48);

        .title {
          font-size: $h4;
        }
      }

    

 
    }

    .attachmentContainer:hover {
      background-color: $white-one;
    }
  }