@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100vh;
  .title {
    font-size: $h4;
    color: $danger;
    font-weight: 500;
    margin-top: rem(24);
    margin-bottom: rem(32);
  }


  p {
    text-align: center;
    margin-bottom: rem(16);
  }
  .link {
    cursor: pointer;
    text-decoration: underline;
  }


  .termsAndConditions {
    // font-size: rem(14);
    margin-top: rem(-12);
  }



}
