@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;

  .sellerDetails {
    position: relative;
    top: 12;
    margin-right: rem(92);
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: rem(1098);
    height: rem(1000);
    pointer-events: auto;
   
  }
}
