@import "@/utils/variables.scss";
@import "@/utils/functions.scss";
@import "@/utils/breakpoints.scss";

.breadcrumbs {
  color: $grey-four;
  width: fit-content;
  font-size: rem(14);

  li {
    display: inline;

    .breadcrumb {
      text-decoration: none;
    }

    .breadcrumb:hover {
      color: $danger-hover;
    }
  }
  /* Add a slash symbol (/) before/behind each list item */
  li + li:before {
    padding: rem(16);
    color: $grey-four;
    font-size: rem(12);
    padding-bottom: rem(2);
    content: "/\00a0";
  }

  .searchResult {
    font-weight: 500;
    color: $black-four;
  }
}
