@import "@/utils/variables.scss";
@import "@/utils/functions.scss";
@import "@/utils/breakpoints.scss";

.listingsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: rem(1098);

  .title {
    margin-bottom: rem(56);
    font-weight: 600;
  }

  .collage {
    margin-bottom: rem(136);
  }

  .buttonsAndSearch {
    .buttons {
      .button {
        margin-bottom: rem(20);
      }
    }

    .searchFields {
      .input {
      }
      .searchTermContainer {
        margin-bottom: rem(20);
        .searchTerm {
          // margin-bottom: rem(0)
        }
      }
      .locationContainer {
      }
    }
  }
}
