@import "@/utils/variables.scss";
@import "@/utils/functions.scss";
@import "@/utils/breakpoints.scss";

.mainSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .mainTitle {
    width: rem(359);
    margin-top: rem(64);
    margin-bottom: rem(96);
    font-size: $h1;
    font-weight: 600;
    line-height: 1;
    text-align: center;

    @include larger-than(mobile) {
      width: rem(645);
      margin-top: rem(96);
      font-size: $h0;
      line-height: 1;
    }
  }
}
