@import "@/utils/variables.scss";
@import "@/utils/functions.scss";
@import "@/utils/breakpoints.scss";

.container {
  border-radius: rem(32);

  .swiper {
    width: rem(310);
    height: auto;
    border-radius: rem(32);
    object-fit: contain;

    .swiperSlide {
      z-index: -1;
      position: relative;
    }
  }
}
