@import "@/utils/variables.scss";
@import "@/utils/functions.scss";
@import "@/utils/breakpoints.scss";

.container {
  position: relative;
  margin: 0;
  padding: 0;
  width: fit-content;

  .label {
    position: absolute;
    left: -9999px;
  }

  // .rightIconContainer {
  //   position: absolute;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   top: rem(0);
  //   right: 0;
  //   width: rem(48);
  //   height: rem(48);
  //   margin: 0 rem(24) 0;

  //   .rightIcon {
  //   }
  // }

  .inputContainer {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    align-items: center;
    border-radius: rem(32);
    box-shadow:
      0px 1px 3px 0px rgba(0, 94, 117, 0.1) inset,
      0px 5px 5px 0px rgba(0, 94, 117, 0.09) inset,
      0px 12px 7px 0px rgba(0, 94, 117, 0.05) inset,
      0px 21px 8px 0px rgba(0, 94, 117, 0.01) inset,
      1px 33px 9px 0px rgba(0, 94, 117, 0) inset;

    .leftIconContainer {
      display: flex;
      width: rem(40);

      .leftIcon {
      }
    }
    .input {
      outline: none;
      border: none;
    }
    .rightIconContainer {
      width: rem(40);

      display: flex;
      .rightIcon {
      }
    }
  }

  .input {
    border-radius: rem(32);
    background-color: transparent;
    // box-shadow: 0px 1px 3px 0px rgba(0, 94, 117, 0.1) inset,
    //   0px 5px 5px 0px rgba(0, 94, 117, 0.09) inset,
    //   0px 12px 7px 0px rgba(0, 94, 117, 0.05) inset,
    //   0px 21px 8px 0px rgba(0, 94, 117, 0.01) inset,
    //   1px 33px 9px 0px rgba(0, 94, 117, 0) inset;
    text-align: center;
    border: none;
    margin: 0;
    padding: 0;
  }

  .xxLarge {
    @include larger-than(mobile) {
      width: rem(1296);
      height: rem(56);
    }
  }

  .xxLargeFeed {
    width: rem(954);
    height: rem(56);
  }

  .xLarge {
    @include larger-than(mobile) {
      width: rem(1078);
      height: rem(56);
    }
  }

  .xLargeFeed {
    width: rem(793);
    height: rem(56);
  }

  .large {
    width: rem(311);
    height: rem(56);

    @include larger-than(mobile) {
      width: rem(642);
      height: rem(56);
    }
  }

  .largeFeed {
    width: rem(471);
    height: rem(56);
  }

  .medium {
    width: rem(202);
    height: rem(56);
    @include larger-than(mobile) {
      width: rem(424);
      height: rem(56);
    }
  }

  .mediumFeed {
    width: rem(310);
    height: rem(48);
  }

  /* =================================================================*/

  .xxLargeIcon {
    @include larger-than(mobile) {
      width: rem(1256);
      height: rem(56);
    }
  }

  .xLargeIcon {
    @include larger-than(mobile) {
      width: rem(1038);
      height: rem(56);
    }
  }

  .largeIcon {
    width: rem(271);
    height: rem(56);

    @include larger-than(mobile) {
      width: rem(602);
      height: rem(56);
    }
  }

  .mediumIcon {
    width: rem(162);
    height: rem(56);
    @include larger-than(mobile) {
      width: rem(384);
      height: rem(56);
    }
  }

  /* =================================================================*/

  .xxLargeIcons {
    @include larger-than(mobile) {
      width: rem(1288);
      height: rem(56);
    }
  }

  .xLargeIcons {
    @include larger-than(mobile) {
      width: rem(998);
      height: rem(56);
    }
  }

  .largeIcons {
    width: rem(231);
    height: rem(56);

    @include larger-than(mobile) {
      width: rem(562);
      height: rem(56);
    }
  }

  .mediumIcons {
    width: rem(122);
    height: rem(56);
    @include larger-than(mobile) {
      width: rem(344);
      height: rem(56);
    }
  }

  /* =================================================================*/
  /* =================================================================*/

  .xxLargeFeedIcon {
    width: rem(914);
    height: rem(56);
  }

  .xLargeFeedIcon {
    width: rem(753);
    height: rem(56);
  }

  .largeFeedIcon {
    width: rem(431);
    height: rem(56);
  }

  .mediumFeedIcon {
    width: rem(270);
    height: rem(48);
  }
  /* =================================================================*/

  .xxLargeFeedIcons {
    width: rem(874);
    height: rem(56);
  }

  .xLargeFeedIcons {
    width: rem(713);
    height: rem(56);
  }

  .largeFeedIcons {
    width: rem(391);
    height: rem(56);
  }

  .mediumFeedIcons {
    width: rem(230);
    height: rem(48);
  }

  /* =================================================================*/

  .primary {
    background-color: $primary;
  }

  .primary:hover {
    background-color: $primary-hover;
  }

  .primary:active {
    background-color: $primary-hover;
  }
  .primary:disabled {
    background-color: $primary-disabled;
  }

  .primary:focus {
    background-color: $primary;
    outline: $primary-hover;
  }

  .normal {
  }

  .normal:hover {
  }
  .normal:active {
  }

  .normal:focus {
    outline-offset: rem(4);
    outline-style: solid;
    outline-color: $white-one;
    outline-width: rem(4);
  }

  .outline {
  }

  .outline:hover {
    background-color: $primary;
  }
  .outline:active {
    background-color: $primary;
  }
  .outline:disabled {
    background-color: $primary;
  }

  .outline:focus {
    background-color: $primary;
  }

  .success {
    background-color: $success;
  }

  .success:hover {
    background-color: $primary;
  }
  .success:active {
    background-color: $primary;
  }
  .success:disabled {
    background-color: $primary;
  }

  .success:focus {
    background-color: $primary;
  }

  .warning {
    background-color: $warning;
  }

  .warning:hover {
    background-color: $primary;
  }
  .warning:active {
    background-color: $primary;
  }
  .warning:disabled {
    background-color: $primary;
  }

  .warning:focus {
    background-color: $primary;
  }

  .danger {
    background-color: $danger;
  }

  .danger:hover {
    background-color: $danger-hover;
  }
  .danger:active {
    background-color: $danger-hover;
  }
  .danger:disabled {
    background-color: $danger-disabled;
  }

  .danger:focus {
    background-color: $danger;
  }

  .info {
    background-color: $info;
  }

  .info:hover {
    // background-color: $primary;
  }
  .info:active {
    background-color: $primary;
  }
  .info:disabled {
    background-color: $primary;
  }

  .info:focus {
    background-color: $primary;
  }

  .linkBtn {
    background-color: transparent;
    box-shadow: none;
  }

  .linkBtn:hover {
    background-color: $primary;
  }
  .linkBtn:active {
    background-color: $primary;
  }
  .linkBtn:disabled {
    background-color: $primary;
  }

  .linkBtn:focus {
    background-color: $primary;
  }

  .icon {
    background-color: unset;
    box-shadow: none;
  }
}
