@import "@/utils/variables.scss";
@import "@/utils/functions.scss";
@import "@/utils/breakpoints.scss";

.container {
  position: relative;
  margin: 0;
  padding: 0;
  width: fit-content;

  .label {
    position: absolute;
    left: -9999px;
  }

  .inputContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    border-radius: rem(32);
    margin-bottom: rem(-4);

    .leftIconContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: rem(0);
      height: 100%;
      width: rem(80);

      .leftIcon {
      }
    }

    .rightIconContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: rem(0);
      height: 100%;
      width: rem(80);

      .rightIcon {
      }
    }

    .input {
      border-radius: rem(32);
      background-color: $white-one;
      // box-shadow: 0px 1px 3px 0px rgba(0, 94, 117, 0.1) inset,
      //   0px 5px 5px 0px rgba(0, 94, 117, 0.09) inset,
      //   0px 12px 7px 0px rgba(0, 94, 117, 0.05) inset,
      //   0px 21px 8px 0px rgba(0, 94, 117, 0.01) inset,
      //   1px 33px 9px 0px rgba(0, 94, 117, 0) inset;
      box-shadow: $shadow-two;
      color: $black-four;
      text-align: center;
      border: none;
      outline: none;
      margin: 0;
      padding: 0;
      height: rem(56);
      appearance: none;
    }
  }

  .searchSuggestions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    cursor: pointer;
    overflow-y: auto;
    margin-top: rem(8);
    margin-bottom: rem(-10);

    .suggestion {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin: 0 auto;
      height: rem(40);
      border-radius: rem(32);
      margin-bottom: rem(4);
      background-color: $white-two;
    }

    .suggestion:hover {
      background-color: $white-three;
    }
  }

  @mixin suggestion-width($width) {
    width: calc(#{$width} * 0.96);
  }

  .xxLarge {
    @include larger-than(mobile) {
      width: rem(1296);
    }
  }

  .xxLarge .suggestion {
    @include suggestion-width(rem(1296));
  }

  .xxLargeFeed {
    width: rem(954);
  }

  .xxLargeFeed .suggestion {
    @include suggestion-width(rem(954));
  }

  .xLarge {
    @include larger-than(mobile) {
      width: rem(1078);
    }
  }

  .xLarge .suggestion {
    @include suggestion-width(rem(1078));
  }

  .xLargeFeed {
    width: rem(793);
  }

  .xLargeFeed .suggestion {
    @include suggestion-width(rem(793));
  }

  .large {
    width: rem(311);

    @include larger-than(mobile) {
      width: rem(514);
    }
  }

  .large .suggestion {
    @include suggestion-width(rem(514));
  }

  .largeFeed {
    width: rem(471);
  }

  .largeFeed .suggestion {
    @include suggestion-width(rem(471));
  }

  .medium {
    width: rem(202);

    @include larger-than(mobile) {
      width: rem(424);
    }
  }

  .medium .suggestion {
    @include suggestion-width(rem(424));
  }

  .mediumFeed {
    width: rem(310);
    height: rem(48);
  }

  .mediumFeed .suggestion {
    @include suggestion-width(rem(310));
  }

  .primary {
    background-color: $primary;
  }

  .primary:hover {
    background-color: $primary-hover;
  }

  .primary:active {
    background-color: $primary-hover;
  }
  .primary:disabled {
    background-color: $primary-disabled;
  }

  .primary:focus {
    background-color: $primary;
    outline: $primary-hover;
  }

  .normal {
  }

  .normal:hover {
  }
  .normal:active {
  }

  .normal:focus {
    outline-offset: rem(1);
    outline-style: solid;
    outline-color: $white-one;
    outline-width: rem(4);
  }

  .outline {
  }

  .outline:hover {
    background-color: $primary;
  }
  .outline:active {
    background-color: $primary;
  }
  .outline:disabled {
    background-color: $primary;
  }

  .outline:focus {
    background-color: $primary;
  }

  .success {
    background-color: $success;
  }

  .success:hover {
    background-color: $primary;
  }
  .success:active {
    background-color: $primary;
  }
  .success:disabled {
    background-color: $primary;
  }

  .success:focus {
    background-color: $primary;
  }

  .warning {
    background-color: $warning;
  }

  .warning:hover {
    background-color: $primary;
  }
  .warning:active {
    background-color: $primary;
  }
  .warning:disabled {
    background-color: $primary;
  }

  .warning:focus {
    background-color: $primary;
  }

  .danger {
    background-color: $danger-hover;
  }

  .danger:hover {
    background-color: $danger;
  }
  .danger:active {
    background-color: $danger;
  }
  .danger:disabled {
    background-color: $danger;
  }

  .danger:focus {
    background-color: $danger;
  }

  .info {
    background-color: $info;
  }

  .info:hover {
    // background-color: $primary;
  }
  .info:active {
    background-color: $primary;
  }
  .info:disabled {
    background-color: $primary;
  }

  .info:focus {
    background-color: $primary;
  }

  .linkBtn {
    background-color: transparent;
    box-shadow: none;
  }

  .linkBtn:hover {
    background-color: $primary;
  }
  .linkBtn:active {
    background-color: $primary;
  }
  .linkBtn:disabled {
    background-color: $primary;
  }

  .linkBtn:focus {
    background-color: $primary;
  }

  .icon {
    background-color: unset;
    box-shadow: none;
  }
}
