  @import "@/utils/variables.scss";
@import "@/utils/functions.scss";
@import "@/utils/breakpoints.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: rem(32);
  background-color: $white-four;
  box-shadow: 0px 26px 58px 0px rgba(0, 0, 0, 0.1),
    0px 105px 105px 0px rgba(0, 0, 0, 0.09),
    0px 236px 142px 0px rgba(0, 0, 0, 0.05),
    0px 420px 168px 0px rgba(0, 0, 0, 0.01),
    0px 656px 184px 0px rgba(0, 0, 0, 0);
  pointer-events: auto;


  .notifications {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: rem(48);

    .notification {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    //  background-color: yellow;
      // margin-right: rem(32);
      // margin-bottom: rem(16);
      list-style: none;

      .iconContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(52);
        height: rem(52);
        margin-bottom: rem(16);
        border-radius: 50%;
        background-color: $white-four;
        box-shadow: -10px -10px 20px #fff,
          10px 10px 20px rgba(169, 196, 203, 0.5),
          5px 5px 10px rgba(169, 196, 203, 0.25),
          0px 420px 168px 0px rgba(0, 0, 0, 0.01),
          -5px -5px 10px rgba(255, 255, 255, 0.5);
         

        .icon {
          // width: rem(20);
          // height: rem(20);
        }

        .logoutBtnContainer {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      .iconContainer:hover {
        background-color: $white-three;
        transition: background-color 0.2s ease-in-out;
      }

      .text {
      }
    }
  }
}
