@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: rem(600);
    margin-top: rem(100);
    gap: rem(20);

    .description {
        text-align: center;
       
    }
   
}