@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(32);

  .error {
    color: $danger;
    margin-bottom: rem(8);
  }
}
