@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  height: 100vh;
  .homeButton {
    position: fixed;
    top: rem(4);
    left: rem(38);
    z-index: 100;
    transition: transform 0.5s ease-in-out;

    @include only(largeDesktop) {
      top: rem(8);
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: rem(180);
    .title {
      font-size: $h4 !important;
      font-weight: 600;
      color: $danger-hover;
      margin-bottom: rem(64);
    }
  }
}
