@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: rem(600);
  .error {
    color: $danger;
    margin-bottom: rem(8);
  }
  .description {
    text-align: center;
    margin-bottom: rem(32);
  }
  .inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .input {
      margin-bottom: rem(20);
    }
  }

  .codeButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .button {
      // margin-bottom: rem(20);
    }
  }
}
