@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.listingsContainer {
 
  
}

.skeletonContainer {
  display: flex;
  justify-content: center;
  width: rem(310) !important;
  pointer-events: auto;
  .skeleton {
    width: fit-content;
  }
}