@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(12);
  width: 100%;
  height: 100%;

  .form {
    width: rem(624);
   
  }
}
