@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.container {

   

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(32);
      width: fit-content;
      height: 100%;

      .smallInputWrapper {
        background-color: $white-four;
        //   display: flex;
        //   justify-content: flex-end;
        //   width: rem(514);
        //   height: rem(56);
        //   border-radius: rem(40);
        //   background-color: $white-four;
      }

      // .smallInputWrapperError {
      //   display: flex;
      //   justify-content: flex-end;
      //   align-items: flex-end;
      //   margin-top: rem(20);
      //   width: rem(514);
      //   height: rem(56);
      //   border-radius: rem(40);
      //   background-color: $danger;

      //   .expiry,
      //   .cvc {
      //     margin-bottom: rem(4);
      //   }
      // }

      .creditCardIcon {
        color: $grey-four;
      }
    }
  }

