@use "@/utils/variables" as *;
@use "@/utils/functions" as *;

.container {
  .newsLetter {
    display: flex;
    justify-content: center;
    background-color: rgb(201, 192, 255);

    .formInput {
    }
  }
  .mainSection {
    display: flex;
    justify-content: space-evenly;
    .footerSections {
      width: rem(350);
    }
    .contactsSection {
      .contacts {
        .contact {
          display: flex;
        }
        .phoneNumber {
        }
        .address {
        }
        .email {
        }
        .icon {
          background-color: aliceblue;
          width: rem(50);
          height: rem(50);
          border-radius: 50%;
          margin: 0 rem(10);
        }
      }
      .socials {
        display: flex;
      }
    }
    .sectionOne {
    }
    .sectionTwo {
    }
    .sectionThree {
    }
  }
}
