    &::-webkit-scrollbar {
      width: rem(8);
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: rem(4);
    }

    &::-webkit-scrollbar-button {
      display: none;
      height: 0;
      width: 0;
    }