@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.swipper {
  display: flex;
  flex-direction: column;
  z-index: -1;
  .videoContainer {
    height: auto;
    width: rem(310);
    scroll-snap-align: start;
    transition: transform 0.3s ease-in-out;
    margin-bottom: rem(24);
  }

  .buttonsContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: rem(240);
    margin-right: 14.6%;

     .navButtons {
        background-color: $white-three;
      }
  }
}
