@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  width: rem(720);

  .contentContainer {
    .content {
      position: relative;
      display: flex;
      .contentLabel {
        font-weight: 500;
        margin-bottom: rem(20);
        flex-basis: 30%;
      }

      .contentItem {
        flex-basis: 70%;
      }
    }
  }
}
