@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: rem(1098);
  height: 100vh;

  .searchBar {
    margin-top: rem(96);
    margin-bottom: rem(48);
  }

  .contacts {
    margin-bottom: rem(48);

    .contact {
      margin-bottom: rem(20);
    }
  }

  .backToChatLink {
    font-weight: bold;
  }

  .backToChatLink:hover {
    color: $primary-hover;
  }
}
