@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: rem(40);
  width: rem(736);

  .headerDiv {
    position: sticky;
    top: 0;
    margin-left: rem(4);
    z-index: 3;
    width: 102%;

    height: rem(24);
    display: block;
    background-color: $white-four;
  }

  .searchBar {
    display: flex;
    justify-content: center;
    position: sticky;
    top: rem(24);
    height: rem(80);
    width: rem(624);
    z-index: 2;
    background-color: $white-four;
    border-radius: 0 0 rem(40) rem(40);
    // background: yellow;
    .search {
      width: rem(600) !important;
      height: rem(72) !important;
      border-radius: rem(40);
      box-shadow: $shadow-one;
    }
  }

  .chats {
    margin-top: rem(24);
  }
}
