@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.mainSection {
  .mainSectionWrapper {
    .useName {
    }
    .bottomSection {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: fixed;
      bottom: 0;
      width: rem(1098);
      margin-bottom: rem(24);
    }
  }
}
