@import "@/utils/variables.scss";
@import "@/utils/functions.scss";
@import "@/utils/breakpoints.scss";

.chat {
  display: flex;
  align-items: center;
  width: rem(356);
  height: rem(88);
  border-radius: rem(50);

  background-color: $white-three;
  box-shadow: $shadow-one;
  cursor: pointer;

  .avatarContainer {
    margin: 0 rem(20) 0 rem(16);
    border-radius: 50%;
    border: $white-one solid rem(3);
    .avatar {
    }
  }

  .textContainer {
    .name {
      font-weight: bold;
      color: #3c4446;
    }
    .message {
    }
  }

  .timeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: rem(12);
    width: rem(56);
    height: rem(56);

    .time {
      font-size: rem(14);

      margin-bottom: rem(2);
    }

    .messageCount {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white-one;
      background: $grey-four;
      width: rem(0);
      height: rem(16);
      border-radius: rem(8);
      font-size: rem(12);
      padding: rem(0) rem(11.2) rem(0) rem(11.2);
    }
  }
}

.chat:hover {
  background-color: $white-two;
}
