@use "@/utils/variables" as *;
@use "@/utils/functions" as *;
@use "@/utils/breakpoints" as *;
.typingArea {
  display: flex;
  margin-right: rem(32);
  margin-left: rem(64);

  .icons {
    position: absolute;
    bottom: rem(6);
    left: rem(88);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: rem(288);
    height: rem(56);
    gap: rem(56);
    padding: 0 rem(16);

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: $white-two;
        // filter: drop-shadow(10px 10px 20px rgba(169, 196, 203, 0.5))
        //   drop-shadow(5px 5px 10px rgba(169, 196, 203, 0.25));
        box-shadow: $shadow-one;
      }
    }
  }

  .textInputContainer {
    position: relative;
    // height: rem(56);

    .inputArea {
      width: rem(634);
      padding: rem(16) rem(136) rem(12) rem(72);
      font-size: $h4;
      line-height: 1.5;
    }

    .emojiButton {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white-two;
      cursor: pointer;
      position: absolute;
      bottom: rem(6);
      left: 0;
      width: rem(56);
      height: rem(56);
      border-radius: 50%;

      // filter: drop-shadow(10px 10px 20px rgba(169, 196, 203, 0.5))
      //   drop-shadow(5px 5px 10px rgba(169, 196, 203, 0.25));
      box-shadow: $shadow-one;
    }
    .sendButton {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white-four;
      cursor: pointer;
      position: absolute;
      bottom: rem(6);
      right: 0;
      width: rem(80);
      height: rem(56);
      border-radius: rem(5) rem(32) rem(32) rem(5);
      background: $primary;

      // filter: drop-shadow(10px 10px 20px rgba(169, 196, 203, 0.5))
      //   drop-shadow(5px 5px 10px rgba(169, 196, 203, 0.25));
      box-shadow: $shadow-one;
    }
  }
}
