@import "@/utils/variables.scss";
@import "@/utils/functions.scss";
@import "@/utils/breakpoints.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  width: rem(311);

  @include larger-than(mobile) {
    width: rem(1098);
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include larger-than(mobile) {
      margin-top: rem(56);
    }
    .titleContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        margin-top: rem(52);
        margin-bottom: rem(32);
        color: $danger;
        font-weight: bold;
        font-size: $body;

        @include larger-than(mobile) {
          font-size: $h4;
          margin-top: rem(124);
          margin-bottom: rem(48);
        }
      }
    }

    .formElements {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .errorMessage {
        color: $danger;
        margin-bottom: rem(8);
      }
      .conditionsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: rem(20);
      }

      .selecteDetailContainer {
        margin-bottom: rem(20);
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: rem(648);
    margin-bottom: rem(48);
    .detail {
      display: flex;
      align-items: center;
      margin-bottom: rem(16);
      width: rem(480);

      .detailButtons {
        display: flex;
        margin-right: rem(16);
        .detailButton {
          display: flex;
          justify-content: center;
          align-items: center;
          width: rem(40);
          height: rem(40);
          border: none;
          background-color: $white-one;
        }

        .detailButton:hover {
          box-shadow: $shadow-one;
          transform: scale(1.1);
        }
        .editButtonContainer {
        }

        .deleteButtonContainer {
          margin-left: rem(16);
        }
      }

      .detailText {
        font-weight: normal;
      }
    }
  }

  .submitButtonContainer {
  }

  .buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(124);

    .proceedButton {
      margin-bottom: rem(20);
    }
  }
}
